/* 操作履歴照会 -  ds_sousa_rireki_syoukai.css */

table#kensakukekka td.ttdkstartymd_label {
	width: 15%;
}

table#kensakukekka td.ttdkendymd_label {
	width: 15%;
}

table#kensakukekka td.dispsyono_label {
	width: 14%;
}

table#kensakukekka td.ttdkkinoukbn_label {
	width: 32%;
}

table#kensakukekka td.dispsousarirekijkkbn_label {
	width: 8%;
}

table#kensakukekka td.dispsousarirekikekkakbn_label {
	width: 8%;
}

table#kensakukekka td.syousaiLink_label {
	width: 8%;
}

table#kensakukekka td.dispsyono_data {
	text-align: center;
}

table#kensakukekka td.dispsousarirekijkkbn_data {
	text-align: center;
}

table#kensakukekka td.dispsousarirekikekkakbn_data {
	text-align: center;
}

table#kensakukekka td.syousaiLink_data {
	text-align: center;
}

table#sousarirekisyousaiInfo td.syorinaiyoukbn_label {
	width: 20%;
}

table#sousarirekisyousaiInfo td.syoriendymd_label {
	width: 15%;
}

table#sousarirekisyousaiInfo td.syorisyousai_label {
	width: 65%;
}