/* 銀行支店検索 -  bz_srch_ginkou_siten.css */

table#searchResults td.dispbankcd_label {
	width: 10%;
}

table#searchResults td.dispsitencd_label {
	width: 10%;
}

table#searchResults td.dispbanknmkj_label {
	width: 40%;
}

table#searchResults td.dispsitennmkj_label {
	width: 40%;
}