/* 申込状況照会 -  sk_mos_syoukai.css */


table#kensakuKekka td.dispmosno_label {
  width: 8%;
}

table#kensakuKekka td.dispkyknmkn_label {
  width: 25%;
}

table#kensakuKekka td.dispkykseiymd_label {
  width: 13%;
}

table#kensakuKekka td.disphknsyuruino_label {
  width: 24%;
}

table#kensakuKekka td.dispkkthjykbn_label {
  width: 6%;
}

table#kensakuKekka td.dispnyknnrkumu_label {
  width: 5%;
}

table#kensakuKekka td.disphubiumu_label {
  width: 5%;
}

table#kensakuKekka td.dispketteikbn_label {
  width: 7%;
}

table#kensakuKekka td.dispseiritukbn_label {
  width: 7%;
}



table#ketteiHoryuuHubi td.msgsyubetu_label {
  width: 4%;
}

table#ketteiHoryuuHubi td.disphubimsgid_label {
  width: 10%;
}

table#ketteiHoryuuHubi td.disphubimsg_label {
  width: 86%;
}


table#seirituHoryuuHubi td.msgsyubetu_label {
  width: 4%;
}

table#seirituHoryuuHubi td.disphubimsgid_label {
  width: 10%;
}

table#seirituHoryuuHubi td.disphubimsg_label {
  width: 86%;
}


table#warning td.msgsyubetu_label {
  width: 4%;
}

table#warning td.disphubimsgid_label {
  width: 10%;
}

table#warning td.disphubimsg_label {
  width: 86%;
}


table#kihonHubi td.msgsyubetu_label {
  width: 4%;
}

table#kihonHubi td.disphubimsgid_label {
  width: 10%;
}

table#kihonHubi td.disphubimsg_label {
  width: 86%;
}


table#skToriatukaiTyuuiInfo td.dispskeittdktyuitrttrkymd_label {
  width: 10%;
}

table#skToriatukaiTyuuiInfo td.dispskeittdktyuitrtnaiyo_label {
  width: 67%;
}

table#skToriatukaiTyuuiInfo td.dispskeittdktyuitrttantou_label {
  width: 23%;
}


table#sonotaTyuuiInfo td.dispskeittdktyuisttrkymd_label {
  width: 10%;
}

table#sonotaTyuuiInfo td.dispskeittdktyuistnaiyo_label {
  width: 67%;
}

table#sonotaTyuuiInfo td.dispskeittdktyuisttantou_label {
  width: 23%;
}


table#hubiItiran td.disptrkymd_label {
  width: 8%;
}

table#hubiItiran td.dispskhubikoumoku_label {
  width: 58%;
}

table#hubiItiran td.disphassinymd_label {
  width: 8%;
}

table#hubiItiran td.dispkaisyouymd_label {
  width: 8%;
}

table#hubiItiran td.disphasinkyokakbn_label {
  width: 4%;
}

table#hubiItiran td.disphassinsakikbn_label {
  width: 6%;
}

table#hubiItiran td.dispnyuryokutantounm_label {
  width: 8%;
}

table#hubiItiran td.dispskhubinaiyou_label {
  width: 58%;
}

table#hubiItiran td.dispskseibisijinaiyou_label {
  width: 58%;
}

table#hubiItiran td.tyoubundisprenrakujikou_label {
  width: 58%;
}

table#hubiItiran td.disprenrakujikou_label {
  width: 58%;
}


table#nyuukinInfo td.disprskingaku_label {
  width: 24%;
}

table#nyuukinInfo td.dispryosyuymd_label {
  width: 12%;
}

table#nyuukinInfo td.dispnyknsyubetu_label {
  width: 16%;
}

table#nyuukinInfo td.dispsoukincd_label {
  width: 36%;
}

table#nyuukinInfo td.disptyakkinymd_label {
  width: 12%;
}


table#pkakinInfo td.disppkakingk_label {
  width: 24%;
}

table#pkakinInfo td.disppkakinsyoriymd_label {
  width: 12%;
}

table#pkakinInfo td.disppkakinhnknriyuu_label {
  width: 64%;
}


table#henkinInfo td.disphnkngk_label {
  width: 18%;
}

table#henkinInfo td.disphnknymd_label {
  width: 8%;
}

table#henkinInfo td.disphnknriyuu_label {
  width: 9%;
}

table#henkinInfo td.disphnknhoukbn_label {
  width: 9%;
}

table#henkinInfo td.dispbankcd_label {
  width: 25%;
}

table#henkinInfo td.dispyokinkbn_label {
  width: 11%;
}

table#henkinInfo td.dispkzmeiginmkn_label {
  width: 20%;
}


table#kouteiJyoukyouBaseInfo td.syoriTime_label {
  width: 17%;
}

table#kouteiJyoukyouBaseInfo td.vprghsdisptasknm_label {
  width: 18%;
}

table#kouteiJyoukyouBaseInfo td.vprghsdispsyorikekkakbn_label {
  width: 15%;
}

table#kouteiJyoukyouBaseInfo td.vprghsdispsousasyanm_label {
  width: 15%;
}

table#kouteiJyoukyouBaseInfo td.vprghsdispcomment_label {
  width: 35%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#teiseiRirekiInfoItiran td.dispsyoritime_label {
  width: 14%;
}

table#teiseiRirekiInfoItiran td.dispkinoussnm_label {
  width: 19%;
}

table#teiseiRirekiInfoItiran td.disptskmnm_label {
  width: 15%;
}

table#teiseiRirekiInfoItiran td.disptsmaenaiyou_label {
  width: 19%;
}

table#teiseiRirekiInfoItiran td.disptsgonaiyou_label {
  width: 19%;
}

table#teiseiRirekiInfoItiran td.disptantounm_label {
  width: 14%;
}


table#kykSakuinInfo td.dispkyksakuinsyono_label {
  width: 15%;
}

table#kykSakuinInfo td.dispkyksakuinmosno_label {
  width: 15%;
}

table#kykSakuinInfo td.dispkyksakuintaisyou_label {
  width: 14%;
}

table#kykSakuinInfo td.dispkyksakuinkykymd_label {
  width: 14%;
}

table#kykSakuinInfo td.dispkyksakuinsyoumetuymd_label {
  width: 14%;
}

table#kykSakuinInfo td.dispkyksakuinhuseiritu_label {
  width: 14%;
}

table#kykSakuinInfo td.dispkyksakuin_label {
  width: 14%;
}


table#hhknSakuinInfo td.disphhknsakuinsyono_label {
  width: 15%;
}

table#hhknSakuinInfo td.disphhknsakuinmosno_label {
  width: 15%;
}

table#hhknSakuinInfo td.disphhknsakuintaisyou_label {
  width: 14%;
}

table#hhknSakuinInfo td.disphhknsakuinkykymd_label {
  width: 14%;
}

table#hhknSakuinInfo td.disphhknsakuinsyoumetuymd_label {
  width: 14%;
}

table#hhknSakuinInfo td.disphhknsakuinhuseiritu_label {
  width: 14%;
}

table#hhknSakuinInfo td.disphhknsakuin_label {
  width: 14%;
}

.buttonAlignLeft{
  text-align: left;
  width: 92%;
}
.pageLinkButtons{
  width: 100px;
}
.nonMargin {
  margin-top: 0px;
}
div.listDiv {
  overflow: visible;
}
div#linkButtons2Div{
  margin-top: 10px;
}
#syup {
  text-align:right;
  width: 40%;
}
#mossyup {
  text-align:right;
  width: 40%;
}

#kyknmkj, #hhknnmkj,
#dispsbuktnmkj1, #dispsbuktnmkj2, #dispsbuktnmkj3, #dispsbuktnmkj4,
#siteidruktnmkj {
  display: inline-block;
  width: 35%;
}
#kykymd {
  display: inline-block;
  width: 35%;
}
#hhknsykgycd {
  display: inline-block;
  width: 5%;
}
#bankcd, #sitencd,#dsbankcd, #dssitencd {
  display: inline-block;
  width: 5%;
}
.firstCell {
  display: inline-block;
  width: 10%;
}
#disphasinkyokakbn_label {
  display: inline-block;
  width: 80%;
}
#seitoufstpkei {
  display: inline-block;
  width: 25%;
}
#IHF1002 {
  display: inline-block;
  width: 10%;
  margin-right: 48%;
}
#dispfstphrkgk {
  display: inline-block;
  width: 15%;
}
#IHF1003 {
  display: inline-block;
  width: 12.8%;
  margin-right: 45.2%;
}
#znnp {
 padding-right: 40px;
}
#IHF1014 {
 padding-right: 350px;
}
#pharaikomisougaku {
  width: 72%;
  margin-right: 58.5%
}
#tyuuimongon2 {
    padding-left: 20px;
}
#sateizumiymd {
    padding-left: 20px;
}
#zenhnknkbn {
    padding-left: 20px;
}
#ryosyuymd {
    padding-left: 20px;
}
#srsyoriymd {
    padding-left: 20px;
}
#kouhurikouzainfobanknmkj {
    padding-left: 30px;
}
#kouhurikouzainfositennmkj {
    padding-left: 37px;
}
#dispfstphrkgk {
  text-align:right;
  width: 40%;
}
#zennoup {
  text-align:right;
  width: 40%;
}
#hrktuukasyukykpPrefix {
  float: left;
}
#nyknkwsratekijyunymd {
  width:30%;
  display:inline-block;
}
#nyknkwsrate {
  width:20%;
  display:inline-block;
}
#inquiryyoteiriritu {
  width:30%;
  display:inline-block;
}
#inquirytmttknzoukaritujygn {
  width:30%;
  display:inline-block;
}
#inquirytumitateriritu {
  width:12.5%;
  display:inline-block;
}
#inquirysetteibairitu {
  width:30%;
  display:inline-block;
}
#dispfstphrkgkPrefix {
  float: left;
  width:30%;
  display:inline-block;
}
#ikkatupPrefix {
  float: left;
  width:30%;
  display:inline-block;
}
#mosfstpkeiPrefix {
  float: left;
  width:25%;
  display:inline-block;
}
#mosikkatupPrefix {
  float: left;
  width:25%;
  display:inline-block;
}
#zennoupPrefix {
  float: left;
  width:30%;
  display:inline-block;
}

#zennouphrkgkPrefix{
  float: left;
  width:26.8%;
  display:inline-block;
}

#moszennoupsyokaiariPrefix {
  float: left;
  width:25%;
  display:inline-block;
}
#syuhrkkknsmnkbn {
    margin : 0px -2px;
}
#syuhknkknsmnkbn {
    margin : 0px -2px;
}
#aisyoumei {
 padding-left: 30px;
}

#drtencdSpan{
  width:20%;
  display:inline-block;
}

.trkkzktdkFirstCell {
  display: inline-block;
  width: 21%;
}
#trkkzknmkj1{
  display: inline-block;
  width: 35%;
}
#trkkzknmkj2{
  display: inline-block;
  width: 35%;
}
#kykdairinmkj{
  display: inline-block;
  width: 35%;
}
#kzhuritourokuhoukbn {
  display: inline-block;
  width: 35%;
}
#inquiryrendouritu {
  width:12.5%;
  display:inline-block;
}

.syukihonsCell{
 display: inline-block;
 width: 28.8%;
 vertical-align: middle;
 float: left;
}
.syumoskihonsCell{
  display: inline-block;
  width: 31.6%;
  vertical-align: middle;
  float: left;
}
#syukihonsPrefix {
   width: 12.4%;
   float: left;
}
#syumoskihonsPrefix {
   width: 9.6%;
   float: left;
}

#fstphrkgkPrefix{
  float: left;
  width:26.8%;
  display:inline-block;
}

.fstphrkgkhrktuukaCell{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  float: left;
}
#fstphrkgkhrktuukaPrefix{
   width: 11.1%;
   float: left;
}

#syupPrefix{
  float: left;
  width:30%;
  display:inline-block;
}

#mossyupPrefix{
  float: left;
  width:22.8%;
  display:inline-block;
}