/* 仮名漢字訂正 -  kh_kana_kanji_teisei.css */


table#kikeiyakuInfo td.vbtkkdispbtkyksyono_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykyuuksumtkbn_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykjyoutai_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksumetujiyuu_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyoumetuymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyouhnnm_label {
  width: 14%;
}


table#nenkinsiharaiInfo td.vbtkkdispbtkyknksysyno_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknkshrsymd_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtjiyuu_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtymd_label {
  width: 25%;
}


table#palkikeiyakuInfo td.vbtkkdisppalbtkyksyono_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkykkykymd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtcd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtymd_label {
  width: 25%;
}


table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksysyno_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknkshrymd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtcd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtymd_label {
  width: 25%;
}


table#palsueokiInfo td.vbtkkdisppalbtkyksosysyno_label {
  width: 50%;
}

table#palsueokiInfo td.vbtkkdisppalbtkyksosymd_label {
  width: 50%;
}

.cell1 {
    padding: 2px 2px 2px 2px;
    border-color: #C5BAA2;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    background-color: #ffffcc;
    width:43%;
}

.cell2 {
    padding: 2px 2px 2px 2px;
    border-color: #C5BAA2;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    background-color: #ffffcc;
}

.firstCell {
    width:375px;
}

.secondCell {
    width:330px;
}

.firstCell1 {
    display:inline-block;
    width:350px;
}

.firstCell2 {
    display:inline-block;
    text-align:right;
    width:27px;
}

.secondCell1 {
    display:inline-block;
    width:330px;
}

.secondCell2 {
    display:inline-block;
    margin-right:0px;
    width:33px;
}

span#stdrskkaijyokbnSpan {
    display:inline-block;
    text-align:right;
    width:437px;
}

span#stdrskkaijyokbn {
    display:inline-block;
    text-align:right;
    width:413px;
}

.center_mh {
    display:inline-block;
    text-align: center;
    width: 100%;
}

.c1_mh {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 14px;
  background-color: #c6e6b3;
  width: 320px;
}
