/* 工程取消 -  koutei_torikesi.css */


table#kouteiList td.dispjimutetuzukinm_label {
  width: 20%;
}

table#kouteiList td.dispGyoumuKey_label {
  width: 20%;
}

table#kouteiList td.dispkouteikaisiymd_label {
  width: 15%;
}

table#kouteiList td.disptantounm_label {
  width: 35%;
}

table#kouteiList td.nyuuryokuLink_label {
  width: 10%;
}
