/* 契約保全不備登録 -  kh_hubi_touroku.css */


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#progresshistoryinfo td.vprghsdispsyoriymd_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdisptasknm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsyorikekkakbn_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsousasyanm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispcomment_label {
  width: 20%;
}


table#selectDataList td.dispjimutetuzukinm_label {
  width: 42%;
}

table#selectDataList td.dispjimustartymd_label {
  width: 42%;
}

table#selectDataList td.nyuuryokuLink_label {
  width: 16%;
}


table#hasinzumihubiList td.trkymd_label {
  width: 6%;
}

table#hasinzumihubiList td.hubisyoruinm_label {
  width: 40%;
}

table#hasinzumihubiList td.genponhnkykumuchkbox_label {
  width: 3%;
}

table#hasinzumihubiList td.hasinymd_label {
  width: 6%;
}

table#hasinzumihubiList td.hassinsakikbn_label {
  width: 10%;
}

table#hasinzumihubiList td.nyuuryokutantounm_label {
  width: 10%;
}

table#hasinzumihubiList td.kaisyouymd_label {
  width: 6%;
}

table#hasinzumihubiList td.hubinaiyoumsg_label {
  width: 40%;
}

table#hasinzumihubiList td.syounintantounm_label {
  width: 18.5%;
}


table#mihasinhubiList td.disptrkymd_label {
  width: 6%;
}

table#mihasinhubiList td.dispsyoruicd_label {
  width: 40%;
}

table#mihasinhubiList td.dispgenponhnkykumuchkbox_label {
  width: 3%;
}

table#mihasinhubiList td.disphassinymd_label {
  width: 6%;
}

table#mihasinhubiList td.disphassinsakikbn_label {
  width: 10%;
}

table#mihasinhubiList td.dispnyuryokutantounm_label {
  width: 10%;
}

table#mihasinhubiList td.dispkaisyouymd_label {
  width: 6%;
}

table#mihasinhubiList td.sakujyoLink_label {
  width: 6%;
}

table#mihasinhubiList td.disphubinaiyoumsg_label {
  width: 40%;
}

table#mihasinhubiList td.dispsyounintantounm_label {
  width: 10%;
}

table#hasinzumihubiList tr {
   background-color: #ffffcc;
}

table#mihasinhubiList tr {
   background-color: #ffffcc;
}

.inputForm5{
  overflow-y: hidden;
  width: 98%;
}

div.listDiv {
  overflow-y: hidden;
}

.inputCovLabel {
  border-width: 0px;
  background-color: transparent !important;
  font-family:"メイリオ", Meiryo, sans-serif;
  font-size:9pt;
  width:90%;
}
