/* 事務用コード入力 -  jimuyou_code_nyuuryoku.css */

 table#jimuyouCodeList td.syono_label {
  width: 0%;
}

 table#jimuyouCodeList td.nksysyno_label {
  width: 0%;
}

table#jimuyouCodeList td.mosno_label {
  width: 0%;
}

table#jimuyouCodeList td.jimuyoucd_label {
  width: 49%;
}

table#jimuyouCodeList2 td.dispGyoumuKey_label {
  width: 34%;
}

table#jimuyouCodeList2 td.dispjimuyoucd_label {
  width: 33%;
}

table#jimuyouCodeList2 td.disphnkmaejimuyoucd_label {
  width: 33%;
}
