/* ファイルダウンロード -  bz_file_download.css */

table#fileInfoList td.fileNm_label {
	width: 60%;
}

table#fileInfoList td.tourokuTime_label {
	width: 20%;
}

table#fileInfoList td.sansyoucount_label {
	width: 20%;
}