/* 住所変更 -  kh_jyuusyo_henkou.css */


table#kikeiyakuInfo td.vbtkkdispbtkyksyono_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykyuuksumtkbn_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykjyoutai_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksumetujiyuu_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyoumetuymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyouhnnm_label {
  width: 14%;
}


table#nenkinsiharaiInfo td.vbtkkdispbtkyknksysyno_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknkshrsymd_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtjiyuu_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtymd_label {
  width: 25%;
}


table#palkikeiyakuInfo td.vbtkkdisppalbtkyksyono_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkykkykymd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtcd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtymd_label {
  width: 25%;
}


table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksysyno_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknkshrymd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtcd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtymd_label {
  width: 25%;
}


table#palsueokiInfo td.vbtkkdisppalbtkyksosysyno_label {
  width: 50%;
}

table#palsueokiInfo td.vbtkkdisppalbtkyksosymd_label {
  width: 50%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#progresshistoryinfo td.vprghsdispsyoriymd_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdisptasknm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsyorikekkakbn_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsousasyanm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispcomment_label {
  width: 20%;
}
