/* ���o�^�Ƒ����\�� (ViewTrkKazoku) */
.viewTrkKazokuhukakbn {
  display: inline-block;
  width: 50%;
}

.viewtrkkzkadrkj{
    display: block;
}

.viewtrkkzktdk {
  display: inline-block;
  width: 21%;
}