/* 新契約不備解消 -  sk_hubi_kaisyou.css */


table#itiranInfo td.jimutetuzukinm_label {
  width: 50%;
}

table#itiranInfo td.jimustartymd_label {
  width: 38%;
}

table#itiranInfo td.nyuuryokuLink_label {
  width: 12%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#toriatukaiTyuuiInfo td.dispskeittdktyuitrttrkymd_label {
  width: 12%;
}

table#toriatukaiTyuuiInfo td.dispskeittdktyuitrtnaiyo_label {
  width: 64%;
}

table#toriatukaiTyuuiInfo td.dispskeittdktyuitrttantou_label {
  width: 24%;
}


table#hubiList td.dispkaisyoutaisyou_label {
  width: 5%;
}

table#hubiList td.dispkaisyoutaisyoukbn_label {
  width: 5%;
}

table#hubiList td.disptrkymd_label {
  width: 8%;
}

table#hubiList td.dispskhubikoumoku_label {
  width: 56%;
}

table#hubiList td.disphassinymd_label {
  width: 8%;
}

table#hubiList td.dispkaisyouymd_label {
  width: 8%;
}

table#hubiList td.disphassinsakikbn_label {
  width: 6%;
}

table#hubiList td.dispnyuryokutantounm_label {
  width: 9%;
}

table#hubiList tr {
   background-color: #ffffcc;
}
div.listDiv {
  overflow: visible;
}

table.groupItems{
  table-layout: fixed;
}
