/* ユーザー検索（ロール表示用） -  user_kensaku_role_hyouji.css */

table#userAndUserRoleInfo td.userId_label {
	width: 25%;
}

table#userAndUserRoleInfo td.userNm_label {
	width: 25%;
}

table#userAndUserRoleInfo td.roleCd_label {
	width: 25%;
}

table#userAndUserRoleInfo td.roleNm_label {
	width: 25%;
}

body {
	width: 92% !important;
}

form {
	min-height: 250px !important;
}