/* 取引サービス登録 -  ds_trhk_service_touroku.css */

table#trhkServiceInfo td.dsjimukaisiymd_label {
	width: 10%;
}

table#trhkServiceInfo td.syono_label {
	width: 10%;
}

table#trhkServiceInfo td.mosno_label {
	width: 10%;
}

table#trhkServiceInfo td.dispkakkyknmkj_label {
	width: 25%;
}

table#trhkServiceInfo td.tourokustatus_label {
	width: 18%;
}

table#trhkServiceInfo td.dispsyoritntnmkj_label {
	width: 21%;
}

table#trhkServiceInfo td.dsnyuuryokulink_label {
	width: 6%;
}

table#trhkServiceInfo td.syono_data {
	text-align: center;
}

table#trhkServiceInfo td.mosno_data {
	text-align: center;
}

table#trhkServiceInfo td.tourokustatus_data {
	text-align: center;
}

table#trhkServiceInfo td.dsnyuuryokulink_data {
	text-align: center;
}

.alignMsgCell {
	float: right;
	width: 75%;
	line-height: 24px;
}

.alignBankNm {
	padding-left: 100px;
}

.alignSitenNm {
	padding-left: 106px;
}