/* 特定関係法人照会 -  bz_tokutei_kankei_houjin.css */

table#searchResults td.disptkhjnkinyuucd_label {
	width: 34%;
}

table#searchResults td.disptkhjnkjdrtennm_label {
	width: 33%;
}

table#searchResults td.disptkhjnnmkj_label {
	width: 33%;
}