/* 工程状況照会 -  koutei_jyoukyou_syoukai.css */


table#taskuserInfo td.dispjimutetuzukinm_label {
  width: 30%;
}

table#taskuserInfo td.dispGyoumuKey_label {
  width: 14%;
}

table#taskuserInfo td.hyoujiYmdFrom_label {
  width: 9%;
}

table#taskuserInfo td.hyoujiYmdTo_label {
  width: 9%;
}

table#taskuserInfo td.dispkouteikanristatus_label {
  width: 9%;
}

table#taskuserInfo td.disptasknm_label {
  width: 9%;
}

table#taskuserInfo td.dispnowsyoritantounm_label {
  width: 9%;
}

table#taskuserInfo td.syousaiLink_label {
  width: 4%;
}

table#resultInfo td.syoriTime_label {
  width: 16%;
}

table#resultInfo td.dispTskkinousyousaiNm_label {
  width: 19%;
}

table#resultInfo td.syorikbn_label {
  width: 16%;
}

table#resultInfo td.disptantounm_label {
  width: 14%;
}

table#resultInfo td.dispRirekiMsg_label {
  width: 35%;
}

table#resultInfo td.dispRirekiMsg_data {
  overflow: hidden;
}
