/* 申出受付 -  si_mouside_uketuke.css */


table#betukeiyakuList td.commonCheckBox_label {
  width: 4%;
}

table#betukeiyakuList td.dispsyono_label {
  width: 11.5%;
}

table#betukeiyakuList td.syscdkbn_label {
  width: 10%;
}

table#betukeiyakuList td.uktnmkj_label {
  width: 20.8%;
}

table#betukeiyakuList td.dispsyoumetuymd_label {
  width: 10%;
}

table#betukeiyakuList td.dispsyoumetujiyuu_label {
  width: 10%;
}

table#betukeiyakuList td.dispsyouhnnm_label {
  width: 33.7%;
}

.inputCovLabel{
  border-width: 0px;
  background-color: transparent !important;
  font-family:"メイリオ", Meiryo, sans-serif;
  font-size:9pt;
  max-width:640px;
  float:right;
  width:80%;
}