/* 別契約情報表示 -  view_betukyk.css*/

table#betukykInfo td.btkyksyono_label {
  width: 15%;
}

table#betukykInfo td.syscdkbn_label {
  width: 10%;
}

table#betukykInfo td.betukutikeiyakukbn_label {
  width: 10%;
}

table#betukykInfo td.kankeisyakbnname_label {
  width: 10%;
}

table#betukykInfo td.syoumetuymd_label {
  width: 10%;
}

table#betukykInfo td.syoumetujiyuuname_label {
  width: 10%;
}

table#betukykInfo td.syouhnnm_label {
  width: 33%;
}