/* ������������\�� -  view_soukinsaki.css */
#bankcdSpan{
  display: inline-block;
  width:25%;
}
#searchBtnSpan{
  display: inline-block;
  width:15%;
}
#sitencdSpan{
  display: inline-block;
  width:25%;
}
#yokinkbnSpan {
  display: inline-block;
  width:25%;
}
#kouzanoSpan {
  display: inline-block;
  width:25%;
}
.viewSoukinsakiFirstCell{
  display: inline-block;
  width:8%;
}