/* 名義変更／契約者等生年月日訂正 -  kh_meigi_henkou.css */

.cell1 {
    padding: 2px 2px 2px 2px;
    border-color: #C5BAA2;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    background-color: #ffffcc;
    width:43%;
}

.cell2 {
    padding: 2px 2px 2px 2px;
    border-color: #C5BAA2;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    background-color: #ffffcc;
}

.floatKaijyo{
  padding-left:50.5%;
}

table#keiyakusyaInfo input.text {
  width: 350px;
}

table#keiyakusyaInfo span#vkykskyknmkjkhukakbn {
  float: right;
}

table#keiyakusyaInfo span#newkyknmkjkhukakbn {
  float: right;
}

table#keiyakusyaInfo span#IIC0006 {
  float: right;
  width: 240px;
  margin : 0px;
}

table#houjinDaihyousyaInfo input.text {
  width: 350px;
}

table#houjinDaihyousyaInfo input#newhjndaiyknm {
  width: 180px;
}

table#hhknInfo1 input.text {
  width: 350px;
}

table#hhknInfo1 span#vhhkshhknnmkjkhukakbn {
  float: right;
}

table#hhknInfo1 span#newhhknnmkjkhukakbn {
  float: right;
}

table#kzuktkaijyoInfo2 input.text {
  width: 350px;
}

table#kzuktkaijyoInfo2 span#IIC0007 {
  float: right;
  width: 240px;
}

td.cell2 span#IIC0007 {
  margin : 2px;
}

table#sbhenkanuktInfo input#sbuktnin {
  width: 56px;
}

table#sbhenkanuktInfo span#IIC1004 {
  float: right;
  width: 240px;
  margin-top: 3px;
}

table#sbhenkanuktInfo input.text {
  width: 350px;
}

table#sbhenkanuktInfo span#IIC0006 {
  float: right;
  width: 240px;
  margin : 0px;
}

table#sbhkkukttyouInfo1 input#sbuktnin {
  width: 56px;
}

table#sbhkkukttyouInfo1 span#IIC1004 {
  float: right;
  width: 240px;
  margin : 2px;
}

span#IIC0015 {
  float: right;
  width: 240px;
  margin : 2px;
}
table#sbhkkukttyouInfo2 input.text {
  width: 350px;
}

table#sbhkkukttyouInfo2 span#vshktdispsbuktnmkjhukakbn1 {
  float: right;
}

table#sbhkkukttyouInfo2 span#sbuktnmkjhukakbn1 {
  float: right;
}

table#sbhkkukttyouInfo3 input.text {
  width: 350px;
}

table#sbhkkukttyouInfo3 span#vshktdispsbuktnmkjhukakbn2 {
  float: right;
}

table#sbhkkukttyouInfo3 span#sbuktnmkjhukakbn2 {
  float: right;
}

table#sbhkkukttyouInfo4 input.text {
  width: 350px;
}

table#sbhkkukttyouInfo4 span#vshktdispsbuktnmkjhukakbn3 {
  float: right;
}

table#sbhkkukttyouInfo4 span#sbuktnmkjhukakbn3 {
  float: right;
}

table#sbhkkukttyouInfo5 input.text {
  width: 350px;
}

table#sbhkkukttyouInfo5 span#vshktdispsbuktnmkjhukakbn4 {
  float: right;
}

table#sbhkkukttyouInfo5 span#sbuktnmkjhukakbn4 {
  float: right;
}

table#stdrskkaijyoInfo2 input.text {
  width: 350px;
}

table#stdrskkaijyoInfo2 span#vstskstdrsknmkjhukakbn {
  float: right;
}

table#stdrskkaijyoInfo2 span#newstdrsknmkjhukakbn {
  float: right;
}

.center_mh {
    display:inline-block;
    text-align: center;
    width: 100%;
}

.c1_mh {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 14px;
  background-color: #c6e6b3;
  width: 320px;
}
