/* 支払履歴照会 -  si_shr_rireki_syoukai.css */


table#searchResults td.syono_label {
  width: 10%;
}

table#searchResults td.hhknnmkn_label {
  width: 24%;
}

table#searchResults td.hhknnmkj_label {
  width: 21%;
}

table#searchResults td.seikyuusyanmkn_label {
  width: 24%;
}

table#searchResults td.seikyuusyanmkj_label {
  width: 21%;
}


table#siharaiRireki td.shrymd_label {
  width: 8%;
}

table#siharaiRireki td.shrkekkakbn_label {
  width: 7%;
}

table#siharaiRireki td.hushrgeninkbn_label {
  width: 24%;
}

table#siharaiRireki td.seikyuusyubetu_label {
  width: 9%;
}

table#siharaiRireki td.seikyuusyanmkj_label {
  width: 21%;
}

table#siharaiRireki td.seikyuusyakbn_label {
  width: 12%;
}

table#siharaiRireki td.shrgkkei_label {
  width: 14%;
}

table#siharaiRireki td.syousaiLink_label {
  width: 5%;
}
