/* �V�_��s���o�^ -  sk_hubi_touroku.css */

table#selectDataList td.dispjimutetuzukinm_label {
  width: 42%;
}

table#selectDataList td.dispjimustartymd_label {
  width: 42%;
}

table#selectDataList td.nyuuryokuLink_label {
  width: 16%;
}

table#toriatukaiTyuuiInfo td.dispskeittdktyuitrttrkymd_label {
  width: 12%;
}

table#toriatukaiTyuuiInfo td.dispskeittdktyuitrtnaiyo_label {
  width: 71%;
}

table#toriatukaiTyuuiInfo td.dispskeittdktyuitrttantou_label {
  width: 17%;
}

table#hubiList1 td.disptrkymd_label {
  width: 3%;
}
table#hubiList1 td.disphassinymd_label {
  width: 3%;
}
table#hubiList1 td.disphasinkyokakbn_label {
  width: 3%;
}
table#hubiList1 td.dispnyuryokutantounm_label {
  width: 4%;
}
table#hubiList1 td.dummykmk1_label {
  width: 2%;
}

table#hubiList2 td.dispinputtrkymd_label {
  width: 3%;
}
table#hubiList2 td.dummykmk1_label {
  width: 3%;
}
table#hubiList2 td.dispinputhasinkyokakbn_label {
  width: 3%;
}
table#hubiList2 td.dispinputnyuryokutantounm_label {
  width: 4%;
}
table#hubiList2 td.dispinputtyoubunflg_label {
  width: 2%;
}

table#hubiList1 tr {
  background-color: #ffffcc;
}

table#hubiList2 tr {
  background-color: #ffffcc;
}

div.listDiv {
  overflow-y: hidden;
}

.inputCovLabel {
  border-width: 0px;
  background-color: transparent !important;
  font-family:"���C���I", Meiryo, sans-serif;
  font-size:9pt;
}

.miniMargin{
  margin-top:0;
}

.inputForm6{
  width:100%;
}

.inputForm5{
  width:100%;
}

.inputForm8{
  width:91.9%;
}

table.groupItems {
  table-layout: fixed;
}

table.groupItems tr td {
  word-wrap: break-word;
}