/* 契約保全不備解消 -  kh_hubi_kaisyou.css */


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#progresshistoryinfo td.vprghsdispsyoriymd_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdisptasknm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsyorikekkakbn_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsousasyanm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispcomment_label {
  width: 20%;
}


table#selectDataList td.dispjimutetuzukinm_label {
  width: 45%;
}

table#selectDataList td.dispjimustartymd_label {
  width: 45%;
}

table#selectDataList td.nyuuryokuLink_label {
  width: 10%;
}


TABLE.listItems TR TD.label{
  width: 4%;
}

table#kaisyouzumihubiList td.disptrkymd_label {
  width: 9%;
}

table#kaisyouzumihubiList td.disphubinaiyoumsg_label {
  width: 42%;
}
table#kaisyouzumihubiList td.disphubinaiyoumsg_data {
  text-align: left;
}

table#kaisyouzumihubiList td.dispgenponhnkykumu_label {
  width: 3%;
}

table#kaisyouzumihubiList td.disphassinymd_label {
  width: 9%;
}

table#kaisyouzumihubiList td.disphassinsakikbn_label {
  width: 8%;
}
table#kaisyouzumihubiList td.disphassinsakikbn_data {
  text-align: left;
}

table#kaisyouzumihubiList td.dispnyuryokutantounm_label {
  width: 14%;
}
table#kaisyouzumihubiList td.dispnyuryokutantounm_data {
  text-align: left;
}

table#kaisyouzumihubiList td.dispkaisyouymd_label {
  width: 9%;
}

table#kaisyouzumihubiList td.dispsyounintantounm_label {
  width: 14%;
}
table#kaisyouzumihubiList td.dispsyounintantounm_data {
  text-align: left;
}


table#mikaisyouhubiList td.dispchkbox_label {
  width: 4%;
}

table#mikaisyouhubiList td.disptrkymd_label {
  width: 9%;
}

table#mikaisyouhubiList td.disphubinaiyoumsg_label {
  width: 42%;
}
table#mikaisyouhubiList td.disphubinaiyoumsg_data {
  text-align: left;
}

table#mikaisyouhubiList td.dispgenponhnkykumu_label {
  width: 3%;
}

table#mikaisyouhubiList td.disphassinymd_label {
  width: 9%;
}

table#mikaisyouhubiList td.disphassinsakikbn_label {
  width: 8%;
}
table#mikaisyouhubiList td.disphassinsakikbn_data {
  text-align: left;
}


table#mikaisyouhubiList td.dispnyuryokutantounm_label {
  width: 14%;
}
table#mikaisyouhubiList td.dispnyuryokutantounm_data {
  text-align: left;
}

table#mikaisyouhubiList td.dispkaisyouymd_label {
  width: 9%;
}

table#mikaisyouhubiList td.dispsyounintantounm_label {
  width: 14%;
}
table#mikaisyouhubiList td.dispsyounintantounm_data {
  text-align: left;
}

div#buttonAllcontrolDiv {
  width: 90%;
  text-align: left;
}
.leftButtons{
  text-align: left;
}

div.listDiv {
  overflow: visible;
}
