/* 為替レート予定利率推移照会（平準払） -  kh_kawase_rate_yotei_rrt_syoukai.css */


table#referenceList td.dispym_label {
  width: 11%;
}

table#referenceList td.disphrkp_label {
  width: 19%;
}

table#referenceList td.dispgaikaknsnkwsratekjymd_label {
  width: 15%;
}

table#referenceList td.dispgaikaknsnkwsratestr_label {
  width: 17%;
}

table#referenceList td.disppgaika_label {
  width: 19%;
}

table#referenceList td.dispytirrtcalckijyunrrtstr_label {
  width: 19%;
}
