/* 振込入金反映予約 -  sk_hurikomi_nyuukin_hanei_yoyaku.css */

table#ikktnyknInfo td.ikktnykninfonyknoyadrtennm_label {
  width: 27%;
}

table#ikktnyknInfo td.ikktnykninfohrktuukasyu_label {
  width: 7%;
}

table#ikktnyknInfo td.ikktnykninfositeituukasyu_label {
  width: 7%;
}

table#ikktnyknInfo td.ikktnykninfokouzano_label {
  width: 10%;
}

table#ikktnyknInfo td.ikktnykninfoikktnyuukingk_label {
  width: 16%;
}

table#ikktnyknInfo td.ikktnykninfodengk_label {
  width: 16%;
}

table#ikktnyknInfo td.ikktnykninforyosyuymd_label {
  width: 9%;
}

table#ikktnyknInfo td.ikktnykninfokawaserate_label {
  width: 8%;
}

table#hrkmnyknInfo td.disprenno3keta_label {
  width: 1px;
}

table#hrkmnyknInfo td.mosnochknasi_label {
  width: 8px;
}

table#hrkmnyknInfo td.nyknoyadrtencd_label {
  width: 13px;
}

table#hrkmnyknInfo td.hrkmirninnm48_label {
  width: 15px;
}

table#hrkmnyknInfo td.hrktuukasyu_label {
  width: 5px;
}

table#hrkmnyknInfo td.siteituuka_label {
  width: 5px;
}

table#hrkmnyknInfo td.rsgaku_label {
  width: 15px;
}

table#hrkmnyknInfo td.ryosyuymd_label {
  width: 10px;
}


table#gkkwssekInfo td.gkkwssekinfonyknoyadrtennm_label {
  width: 18%;
}

table#gkkwssekInfo td.gkkwssekinfohrktuukasyu_label {
  width: 7%;
}

table#gkkwssekInfo td.gkkwssekinfositeituukasyu_label {
  width: 7%;
}

table#gkkwssekInfo td.gkkwssekinfokouzano_label {
  width: 10%;
}

table#gkkwssekInfo td.grossnykngk_label {
  width: 16%;
}

table#gkkwssekInfo td.grossdengk_label {
  width: 16%;
}

table#gkkwssekInfo td.meisaigoukeidengk_label {
  width: 16%;
}

table#gkkwssekInfo td.kawasesasonekikngk_label {
  width: 10%;
}

div.listDiv {
  overflow-y: hidden;
}

table#hrkmnyknInfo tr {
  background-color: #ffffcc;
}

.text3 {
    width: 85px;
}

.text4 {
    width: 90px;
}

.text12 {
    width: 160px;
}

.text5 {
    width: 136px;
    text-align: right;
}

.uploadfileCss {
    width: 800px;
}