/* 保険金給付金備金追加削除 -  si_bikin_tuika_sakujyo.css */
.bkngkRightCell{
  text-align: right;
}
.bkngkFirstCell{
  float: left;
  display: inline-block;
  width: 41.5%;
}

#IJC1047 {
  float:right;
  width: 50%;
  line-height:24px;
}

.bkngkFirstCellInput{
  float: left;
  display: inline-block;
  width: 39.5%;
}
