/* 契約内容照会 -  kh_keiyaku_syoukai.css */


table#kensakuResultInfo td.dispsyono_label {
  width: 12%;
}

table#kensakuResultInfo td.dispkyknmkn_label {
  width: 29%;
}

table#kensakuResultInfo td.disptsintelno_label {
  width: 14%;
}

table#kensakuResultInfo td.dispkykseiymd_label {
  width: 14%;
}

table#kensakuResultInfo td.dispsyouhnnm_label {
  width: 31%;
}


table#tetudukiRirekiList td.dispsyoriymd_label {
  width: 14%;
}

table#tetudukiRirekiList td.dispsyorinaiyou_label {
  width: 41%;
}

table#tetudukiRirekiList td.dispsyorisosikinm_label {
  width: 22%;
}

table#tetudukiRirekiList td.dispsyoritntnmkj_label {
  width: 15%;
}

table#tetudukiRirekiList td.hyoujilink1_label {
  width: 8%;
}


table#henkounaiyouList td.disphnkkbn_label {
  width: 10%;
}

table#henkounaiyouList td.disphanbetukoumokunm_label {
  width: 20%;
}

table#henkounaiyouList td.disphenkoukoumokunm_label {
  width: 20%;
}

table#henkounaiyouList td.dispbfrnaiyou_label {
  width: 25%;
}

table#henkounaiyouList td.dispnewnaiyou_label {
  width: 25%;
}


table#nyuukinRirekiInfo td.dispryosyuymd_label {
  width: 7%;
}

table#nyuukinRirekiInfo td.dispnykkeiro_label {
  width: 7%;
}

table#nyuukinRirekiInfo td.dispjyuutouym_label {
  width: 7%;
}

table#nyuukinRirekiInfo td.dispjyutoukaisuuy_label {
  width: 7%;
}

table#nyuukinRirekiInfo td.dispjyutoukaisuum_label {
  width: 12%;
}

table#nyuukinRirekiInfo td.disphrkp_label {
  width: 12%;
}

table#nyuukinRirekiInfo td.disprskingaku_label {
  width: 11%;
}

table#nyuukinRirekiInfo td.dispkawaserate_label {
  width: 12%;
}

table#nyuukinRirekiInfo td.disprstuukasyu_label {
  width: 10%;
}

table#nyuukinRirekiInfo td.dispkyktuukasyu_label {
  width: 10%;
}

table#nyuukinRirekiInfo td.dispnyktrks_label {
  width: 5%;
}


table#hokenryouTmttInfo td.disptaisyound_label {
  width: 10%;
}

table#hokenryouTmttInfo td.dispkouryokukaisiymd_label {
  width: 12%;
}

table#hokenryouTmttInfo td.dispteiritutmttkngk_label {
  width: 24%;
}

table#hokenryouTmttInfo td.disptmttknhaneisisuu_label {
  width: 24%;
}

table#hokenryouTmttInfo td.dispsisuuupritu_label {
  width: 10%;
}

table#hokenryouTmttInfo td.dispsisuurendoutmttkngk_label {
  width: 20%;
}

div#linkButtons2Div {
    margin-top: 10px;
}

.buttonAlignLeft{
  text-align: left;
  width: 92%;
}

table#shrgkkeiInfo1 td.yenshrgkgoukeisyoukai_data {
text-align: right;
  padding-right: 454px;
}

table#shrgkkeiInfo2 td.knsnshrgkkei_data {
  text-align: right;
  padding-right: 454px;
}

table#rateiInfo td.shrkwsratekjnymd_data {
  text-align: right;
  padding-right: 454px;
}

table#rateiInfo td.zeimukwsratekjnymd_data {
  text-align: right;
  padding-right: 454px;
}

table#htykeihiInfo td.htykeihi_data {
  text-align: right;
  padding-right: 454px;
}

div.listDiv {
  overflow: visible;
}

.leftViewCell {
  float: left;
  text-align: right;
  display: inline-block;
  width: 41.4%;
}

.innerLeftView {
   text-align: right;
}

.innerRightView {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right:12%;
}

.rateAlignRight {
    text-align:right;
}

 .innerLeftShrkwsratee {
  display: inline-block;
}

.innerCenterYenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

.innerCenterShrkyktuukasyu {
  display:inline-block;
  margin-right:58.5%;
}

 .innerLeftZeimuInfo {
  display: inline-block;
}

.innerCenterZeimukwsrate {
  display: inline-block;
  width: 45%;
}

.innerCenterZeimukyktuukasyu {
  display:inline-block;
  margin-right:0%;
}

.jpyshrtienrskLeftCell {
  display:inline-block;
}

.jpyLeftCell {
  display:inline-block;
  margin-right:0%;
  text-align:right;
}

.leftKykhnkkaisuuCell {
  float: left;
  text-align: right;
  display: inline-block;
  width: 39.8%;
}
.leftKykhnkkaisuuUnitCell {
  float: left;
  text-align: right;
  display: inline-block;
}

.floatRight {
  float: right;
}

.haitoushrtienrskLeftCell {
  display:inline-block;
}

.haitouLeftCell {
  display:inline-block;
  margin-right:0%;
  text-align:right;
}

.cell1 {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width:36%;
}

.cell2 {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
}

#kwsrtinfomessage1{
margin-left: 195px;
}
