/* 確認項目 -  view_kakuninkoumoku.css */

table#viewKakuninkoumokuInfo td.dispsyoriymd_label {
  width: 8%;
}

table#viewKakuninkoumokuInfo td.disptasknm_label {
  width: 14%;
}

table#viewKakuninkoumokuInfo td.dispsyorikekkakbn_label {
  width: 14%;
}

table#viewKakuninkoumokuInfo td.dispsousasyanm_label {
  width: 14%;
}

table#viewKakuninkoumokuInfo td.dispcomment_label {
  width: 50%;
}