/* 顧客整備 -  ds_kokyaku_seibi.css */

table#searchResultInfo td.dskokno_label {
	width: 10%;
}

table#searchResultInfo td.syono_label {
	width: 9%;
}

table#searchResultInfo td.dskokyakunmkj_label {
	width: 9%;
}

table#searchResultInfo td.dskokyakuseiymd_label {
	width: 9%;
}

table#searchResultInfo td.dskokyakujtkbn_label {
	width: 9%;
}

table#searchResultInfo td.passwordjtkbn_label {
	width: 9%;
}

table#searchResultInfo td.seibiriyuukbn_label {
	width: 9%;
}

table#searchResultInfo td.syoriYmd_label {
	width: 9%;
}

table#searchResultInfo td.syorizumiflg_label {
	width: 9%;
}

table#searchResultInfo td.dskokyakunmkn_label {
	width: 9%;
}

table#searchResultInfo td.dskokyakuyno_label {
	width: 9%;
}

table#srchRsltKzInfo td.dispbankcd_label {
	width: 6%;
}

table#srchRsltKzInfo td.dispbanknmkj_label {
	width: 17%;
}

table#srchRsltKzInfo td.sinsetuymd_label {
	width: 6%;
}

table#srchRsltKzInfo td.dispkouzano_label {
	width: 6%;
}

table#srchRsltKzInfo td.dispkyknmkn_label {
	width: 17%;
}

table#srchRsltKzInfo td.dskokno_label {
	width: 7%;
}

table#srchRsltKzInfo td.syono_label {
	width: 7%;
}

table#srchRsltKzInfo td.dispsitencd_label {
	width: 6%;
}

table#srchRsltKzInfo td.dispsitennmkj_label {
	width: 17%;
}

table#srchRsltKzInfo td.haisiymd_label {
	width: 6%;
}

table#srchRsltKzInfo td.dispkzmeiginmkn_label {
	width: 17%;
}

table#dskokkykInfo td.syono_label {
	width: 13%;
}

table#dskokkykInfo td.syusyouhnnm_label {
	width: 35%;
}

table#dskokkykInfo td.dskykkanyuuymd_label {
	width: 13%;
}

table#dskokkykInfo td.dskykhenkouymd_label {
	width: 13%;
}

table#dskokkykInfo td.dskykmukouhyj_label {
	width: 13%;
}

table#dskokkykInfo td.dskykmukouymd_label {
	width: 13%;
}

div.listDiv {
	overflow: visible;
}

table#searchResultInfo tr {
	background-color: #ffffcc;
}

table#srchRsltKzInfo tr {
	background-color: #ffffcc;
}

table#dskokkykInfo tr {
	background-color: #ffffcc;
}

.alignWidthCdCell {
	display: inline-block;
	width: 10%;
}