/* 契約保全オンライン処理件数照会 -  kh_online_kensuu_syoukai.css */


table#syoriKensuuList td.dispkinounm_label {
  width: 25%;
}

table#syoriKensuuList td.dispkensuu_label {
  width: 75%;
}
.firstCell{
    display:inline-block;
    text-align: right;
    width:12%;
}