/* イメージ取込 -  image_torikomi.css */


table#ankenList td.dispGyoumuKey_label {
  width: 13%;
}

table#ankenList td.dispjimustartymd_label {
  width: 13%;
}

table#ankenList td.dispkouteikaisiymd_label {
  width: 13%;
}

table#ankenList td.dispkouteikanristatus_label {
  width: 13%;
}

table#ankenList td.disptasknm_label {
  width: 12%;
}

table#ankenList td.jimuyoucd_label {
  width: 12%;
}

table#ankenList td.disptantounm_label {
  width: 12%;
}

table#ankenList td.syousaiLink_label {
  width: 12%;
}


table#ankenList2 td.dispGyoumuKey_label {
  width: 13%;
}

table#ankenList2 td.dispjimustartymd_label {
  width: 13%;
}

table#ankenList2 td.dispkouteikaisiymd_label {
  width: 13%;
}

table#ankenList2 td.dispkouteikanristatus_label {
  width: 13%;
}

table#ankenList2 td.disptasknm_label {
  width: 12%;
}

table#ankenList2 td.jimuyoucd_label {
  width: 12%;
}

table#ankenList2 td.disptantounm_label {
  width: 12%;
}

table#ankenList2 td.syousaiLink_label {
  width: 12%;
}


table#syoruiInfo01 td.dispsyoruinm_label {
  width: 20%;
}

table#syoruiInfo01 td.syoruittykymdtime_label {
  width: 20%;
}

table#syoruiInfo01 td.userNm_label {
  width: 20%;
}

table#syoruiInfo01 td.hyoujilink_label {
  width: 20%;
}

table#syoruiInfo01 td.torikomiLink_label {
  width: 20%;
}


table#syoruiInfo02 td.dispsyoruinm_label {
  width: 50%;
}

table#syoruiInfo02 td.fileNm_label {
  width: 50%;
}
