/* 工程ロック強制解除 -  lock_kyousei_kaijyo.css */


table#lockedTaskInfoList td.dispGyoumuKey_label {
  width: 20%;
}

table#lockedTaskInfoList td.dispjimustartymd_label {
  width: 10%;
}

table#lockedTaskInfoList td.disptasknm_label {
  width: 40%;
}

table#lockedTaskInfoList td.disptantounm_label {
  width: 20%;
}

table#lockedTaskInfoList td.lockKaijyoLink_label {
  width: 10%;
}

table#lockedTaskInfoList td.dispjimustartymd_data {
  text-align: center;
}

table#lockedTaskInfoList td.lockKaijyoLink_data {
  text-align: center;
}