/* 申込点検 -  sk_mousikomi_tenken.css */


table#ketteiHoryuuHubi td.msgsyubetu_label {
  width: 34%;
}

table#ketteiHoryuuHubi td.disphubimsgid_label {
  width: 33%;
}

table#ketteiHoryuuHubi td.disphubimsg_label {
  width: 33%;
}


table#seirituHoryuuHubi td.msgsyubetu_label {
  width: 34%;
}

table#seirituHoryuuHubi td.disphubimsgid_label {
  width: 33%;
}

table#seirituHoryuuHubi td.disphubimsg_label {
  width: 33%;
}


table#warning td.msgsyubetu_label {
  width: 34%;
}

table#warning td.disphubimsgid_label {
  width: 33%;
}

table#warning td.disphubimsg_label {
  width: 33%;
}


table#kihonHubi td.msgsyubetu_label {
  width: 34%;
}

table#kihonHubi td.disphubimsgid_label {
  width: 33%;
}

table#kihonHubi td.disphubimsg_label {
  width: 33%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#mousikomiTenkenRireki td.dispknksyoriymd_label {
  width: 20%;
}

table#mousikomiTenkenRireki td.dispknkstktsyorinmkbn_label {
  width: 20%;
}

table#mousikomiTenkenRireki td.dispknkkekkakbn_label {
  width: 20%;
}

table#mousikomiTenkenRireki td.dispknkktnm_label {
  width: 20%;
}

table#mousikomiTenkenRireki td.dispknkcomment_label {
  width: 20%;
}


table#skToriatukaiTyuuiJouhou td.dispskeittdktyuitrttrkymd_label {
  width: 34%;
}

table#skToriatukaiTyuuiJouhou td.dispskeittdktyuitrtnaiyo_label {
  width: 33%;
}

table#skToriatukaiTyuuiJouhou td.dispskeittdktyuitrttantou_label {
  width: 33%;
}


table#kankyouSateiRireki td.dispknksyoriymd_label {
  width: 20%;
}

table#kankyouSateiRireki td.dispknkstktsyorinmkbn_label {
  width: 20%;
}

table#kankyouSateiRireki td.dispknkkekkakbn_label {
  width: 20%;
}

table#kankyouSateiRireki td.dispknkktnm_label {
  width: 20%;
}

table#kankyouSateiRireki td.dispknkcomment_label {
  width: 20%;
}


table#imuSateiRireki td.dispimusyoriymd_label {
  width: 20%;
}

table#imuSateiRireki td.dispimustktsyorinmkbn_label {
  width: 20%;
}

table#imuSateiRireki td.dispimukekkakbn_label {
  width: 20%;
}

table#imuSateiRireki td.dispimuktnm_label {
  width: 20%;
}

table#imuSateiRireki td.dispimucomment_label {
  width: 20%;
}

input[type="radio"][disabled] {
 background-color: rgb(255, 255, 204);
}

#uktkak{
  margin-right: 45px;
}
#mousikomiTenken{
  table-layout: fixed;
}

table#ketteiHoryuuHubi td.msgsyubetu_label {
  width: 4%;
}

table#ketteiHoryuuHubi td.disphubimsgid_label {
  width: 10%;
}

table#ketteiHoryuuHubi td.disphubimsg_label {
  width: 86%;
}


table#seirituHoryuuHubi td.msgsyubetu_label {
  width: 4%;
}

table#seirituHoryuuHubi td.disphubimsgid_label {
  width: 10%;
}

table#seirituHoryuuHubi td.disphubimsg_label {
  width: 86%;
}


table#warning td.msgsyubetu_label {
  width: 4%;
}

table#warning td.disphubimsgid_label {
  width: 10%;
}

table#warning td.disphubimsg_label {
  width: 86%;
}


table#kihonHubi td.msgsyubetu_label {
  width: 4%;
}

table#kihonHubi td.disphubimsgid_label {
  width: 10%;
}

table#kihonHubi td.disphubimsg_label {
  width: 86%;
}