/* ＤＳメール送信履歴照会 -  ds_mail_sousin_rireki_syoukai.css */

table#searchResultInfo td.dsdatasakuseiymd_label {
	width: 10%;
}

table#searchResultInfo td.dskokno_label {
	width: 10%;
}

table#searchResultInfo td.syono_label {
	width: 10%;
}

table#searchResultInfo td.dssousinmailsyubetukbn_label {
	width: 15%;
}

table#searchResultInfo td.haisinjidsmailaddress_label {
	width: 35%;
}

table#searchResultInfo td.haisinerrorcount_label {
	width: 20%;
}

table#searchResultInfo td.dssousinno_label {
	width: 100%;
}

div.listDiv {
	overflow-y: hidden;
}

table#searchResultInfo tr {
	background-color: #ffffcc;
}