/* 重過失情報表示 -  view_jyuukasitu_info.css */

.c1_mh {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 14px;
  background-color: #c6e6b3;
  width: 3%;
  max-width: 750px;
  text-align: center;
}
.firstCell{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 14px;
  width: 68%;
  background-color: #c6e6b3;
  text-align: center;
}
.secondCell {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 14px;
  width: 4%;
  background-color: #c6e6b3;
  text-align: center;
}
.secondCell1{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 13px;
  background-color: #c6e6b3;
  text-align: center;
}

.firstCell1{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffcc;
  width: 3%;
  max-width: 750px;
}
.firstCell2{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width: 68%;
  max-width: 750px;
}
.firstCell3{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width: 4%;
  max-width: 750px;
}
.firstCell4{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  max-width: 750px;
}

#juukasitucheckcomment1{
    width: 97%;
    overflow-y:hidden;
}
#juukasitucheckcomment2{
    width: 97%;
    overflow-y:hidden;
}
#juukasitucheckcomment3{
    width: 97%;
    overflow-y:hidden;
}
#juukasitucheckcomment4{
    width: 97%;
    overflow-y:hidden;
}

.dispviewfirstCell{
       height: 38px;
}
