/* 診断書情報（死亡） -  view_sindansyoinfo_sibou.css */

table#viewSindansyoinfoSibouInfo1 td.searchlink_label {
  width: 5%;
}

table#viewSindansyoinfoSibouInfo1 td.byoumeikj_label {
  width: 90%;
}

table#viewSindansyoinfoSibouInfo1 td.sakujyoLink_label {
  width: 5%;
}

table#viewSindansyoinfoSibouInfo1 td.byoumeicd_label {
  width: 0%;
}

table#viewSindansyoinfoSibouInfo1 td.byoumeikn_label {
  width: 0%;
}

table#viewSindansyoinfoSibouInfo1 td.byoumeitourokuno_label {
  width: 0%;
}

.miniMargin{
    margin-top:0;
}

.inputCovLabel{
  border-width: 0px;
  background-color: transparent !important;
  font-family:"メイリオ", Meiryo, sans-serif;
  font-size:9pt;
  width:90%;
}
.viewsindansyoinfosibouFirstCell{
    display:inline-block;
    width:13%;
}