/* 病名検索 -  si_srch_byoumei.css */


table#searchResults td.byoumeicd_label {
  width: 10%;
}

table#searchResults td.byoumeikj_label {
  width: 40%;
}

table#searchResults td.byoumeikn_label {
  width: 40%;
}

table#searchResults td.gaitoukbn2_label {
  width: 10%;
}
