/** �ғ����ԏ��ꗗ */
table.listItems tr td.commonCheckBox_label {
	width: 5% !important;
}

table.listItems tr td.kadouTimeGroupNm_label {
	width: 25% !important;
}

table.listItems tr td.kadouTimeGroupCd_label {
	width: 25% !important;
}

table.listItems tr td.kadouTimeGroupDescription_label {
	width: 45% !important;
}

table.listItems tr td.commonCheckBox_data {
	text-align: center
}

table.listItems tr td.kadouTimeGroupCd_label {
	width: 25% !important;
}

table.listItems tr td.kadouTimeGroupNm_label {
	width: 25% !important;
}

table.listItems tr td.kadouTimeSiteiYmd_label {
	width: 12% !important;
}

table.listItems tr td.kadouTimeDisp_label {
	width: 28% !important;
}

table.listItems tr td.henkouLink_label {
	width: 5% !important;
}

table.listItems tr td.sakujyoLink_label {
	width: 5% !important;
}

table.listItems tr td.henkouLink_data {
	text-align: center
}

table.listItems tr td.sakujyoLink_data {
	text-align: center
}

td span.itemSuffix {
	margin-right: 0px;
}

table.listItems tr td {
	word-wrap: break-word;
}