/* 検証用レートＤＢ照会 -  bz_kensyouyou_ratedbsyoukai.css */

#suurikykymdSpan {
	display: inline-block;
	width: 30%;
}

#disphksyuruikigousedaikbnSpan {
	display: inline-block;
	width: 30%;
}

#dispyoteirirituSpan {
	display: inline-block;
	width: 30%;
}

#dispdnendoUnit {
	display: inline-block;
	width: 21.6%;
}

#dispdratenaiteikakuteikbnSpan {
	display: inline-block;
	width: 30%;
}

#disppalannaihuyouriyuukbnSpan {
	display: inline-block;
	width: 30%;
}

#dispratetuukasyukbnSpan {
	display: inline-block;
	width: 30%;
}

#dai1hknkknSpan {
	display: inline-block;
	width: 30%;
}

#disppalryouritukbnSpan {
	display: inline-block;
	width: 30%;
}