/* 振込入金削除データ登録 -  sk_hurikomi_sakujyo_touroku.css */

table#sakujyoInfoList td.disptrkymd_label {
  width: 10%;
}

table#sakujyoInfoList td.dispmosno_label {
  width: 11%;
}

table#sakujyoInfoList td.disphrkmirninnm_label {
  width: 26%;
}

table#sakujyoInfoList td.dispoyadrtencd_label {
  width: 14%;
}

table#sakujyoInfoList td.disprstuukasyu_label {
  width: 11%;
}

table#sakujyoInfoList td.disprskingaku_label {
  width: 20%;
}

table#sakujyoInfoList td.dispsakujyoLink_label {
  width: 8%;
}

input#hrkmirninnm {
  width: 93%; padding-right: 55px;
}