/* 処理件数照会 -  syori_kensuu_syoukai.css */


table#taskuserInfo td.dispjimutetuzukinm_label {
  width: 23%;
}

table#taskuserInfo td.zenjituzanKensuu_label {
  width: 23%;
}

table#taskuserInfo td.zanKensuu_label {
  width: 23%;
}

table#taskuserInfo td.kanryoKensuu_label {
  width: 23%;
}

table#taskuserInfo td.syousaiLink_label {
  width: 8%;
}


table#taskuserInfo2 td.disptasknm_label {
  width: 23%;
}

table#taskuserInfo2 td.zenjituzanKensuu_label {
  width: 23%;
}

table#taskuserInfo2 td.zanKensuu_label {
  width: 23%;
}

table#taskuserInfo2 td.kanryoKensuu_label {
  width: 23%;
}

table#taskuserInfo2 td.syousaiLinkTask_label {
  width: 8%;
}


table#taskuserInfo3 td.disptantounm_label {
  width: 25%;
}

table#taskuserInfo3 td.zenjituzanKensuu_label {
  width: 25%;
}

table#taskuserInfo3 td.zanKensuu_label {
  width: 25%;
}

table#taskuserInfo3 td.kanryoKensuu_label {
  width: 25%;
}
