/* 分割支払計算 -  si_bunkatu_siharai_keisan.css */


table#uktrInfo td.shrtaisyou_label {
  width: 20%;
}

table#uktrInfo td.uktrjuni_label {
  width: 20%;
}

table#uktrInfo td.uktrwraibunsi_label {
  width: 25%;
}

table#uktrInfo td.bnktsbuktnmkj_label {
  width: 35%;
}


table#bunkatuKeisanKekka1 td.shrtaisyou1_label {
  width: 20%;
}

table#bunkatuKeisanKekka1 td.uktrjuni1_label {
  width: 20%;
}

table#bunkatuKeisanKekka1 td.uktrwraibunsi1_label {
  width: 25%;
}

table#bunkatuKeisanKekka1 td.bnktsbuktnmkj1_label {
  width: 35%;
}


table#bunkatuKeisanKekka2 td.shrtaisyou2_label {
  width: 20%;
}

table#bunkatuKeisanKekka2 td.uktrjuni2_label {
  width: 20%;
}

table#bunkatuKeisanKekka2 td.uktrwraibunsi2_label {
  width: 25%;
}

table#bunkatuKeisanKekka2 td.bnktsbuktnmkj2_label {
  width: 35%;
}



table#bunkatuKeisanKekka3 td.shrtaisyou3_label {
  width: 20%;
}

table#bunkatuKeisanKekka3 td.uktrjuni3_label {
  width: 20%;
}

table#bunkatuKeisanKekka3 td.uktrwraibunsi3_label {
  width: 25%;
}

table#bunkatuKeisanKekka3 td.bnktsbuktnmkj3_label {
  width: 35%;
}


table#bunkatuKeisanKekka4 td.shrtaisyou4_label {
  width: 20%;
}

table#bunkatuKeisanKekka4 td.uktrjuni4_label {
  width: 20%;
}

table#bunkatuKeisanKekka4 td.uktrwraibunsi4_label {
  width: 25%;
}

table#bunkatuKeisanKekka4 td.bnktsbuktnmkj4_label {
  width: 35%;
}


table#bunkatuKeisanKekka5 td.shrtaisyou5_label {
  width: 20%;
}

table#bunkatuKeisanKekka5 td.uktrjuni5_label {
  width: 20%;
}

table#bunkatuKeisanKekka5 td.uktrwraibunsi5_label {
  width: 25%;
}

table#bunkatuKeisanKekka5 td.bnktsbuktnmkj5_label {
  width: 35%;
}


table#bunkatuKeisanKekka6 td.shrtaisyou6_label {
  width: 20%;
}

table#bunkatuKeisanKekka6 td.uktrjuni6_label {
  width: 20%;
}

table#bunkatuKeisanKekka6 td.uktrwraibunsi6_label {
  width: 25%;
}

table#bunkatuKeisanKekka6 td.bnktsbuktnmkj6_label {
  width: 35%;
}


table#bunkatuKeisanKekka7 td.shrtaisyou7_label {
  width: 20%;
}

table#bunkatuKeisanKekka7 td.uktrjuni7_label {
  width: 20%;
}

table#bunkatuKeisanKekka7 td.uktrwraibunsi7_label {
  width: 25%;
}

table#bunkatuKeisanKekka7 td.bnktsbuktnmkj7_label {
  width: 35%;
}


table#bunkatuKeisanKekka8 td.shrtaisyou8_label {
  width: 20%;
}

table#bunkatuKeisanKekka8 td.uktrjuni8_label {
  width: 20%;
}

table#bunkatuKeisanKekka8 td.uktrwraibunsi8_label {
  width: 25%;
}

table#bunkatuKeisanKekka8 td.bnktsbuktnmkj8_label {
  width: 35%;
}


table#bunkatuKeisanKekka9 td.shrtaisyou9_label {
  width: 20%;
}

table#bunkatuKeisanKekka9 td.uktrjuni9_label {
  width: 20%;
}

table#bunkatuKeisanKekka9 td.uktrwraibunsi9_label {
  width: 25%;
}

table#bunkatuKeisanKekka9 td.bnktsbuktnmkj9_label {
  width: 35%;
}


table#bunkatuKeisanKekka10 td.shrtaisyou10_label {
  width: 20%;
}

table#bunkatuKeisanKekka10 td.uktrjuni10_label {
  width: 20%;
}

table#bunkatuKeisanKekka10 td.uktrwraibunsi10_label {
  width: 25%;
}

table#bunkatuKeisanKekka10 td.bnktsbuktnmkj10_label {
  width: 35%;
}


table#bunkatuKeisanKekka11 td.shrtaisyou11_label {
  width: 20%;
}

table#bunkatuKeisanKekka11 td.uktrjuni11_label {
  width: 20%;
}

table#bunkatuKeisanKekka11 td.uktrwraibunsi11_label {
  width: 25%;
}

table#bunkatuKeisanKekka11 td.bnktsbuktnmkj11_label {
  width: 35%;
}


table#bunkatuKeisanKekka12 td.shrtaisyou12_label {
  width: 20%;
}

table#bunkatuKeisanKekka12 td.uktrjuni12_label {
  width: 20%;
}

table#bunkatuKeisanKekka12 td.uktrwraibunsi12_label {
  width: 25%;
}

table#bunkatuKeisanKekka12 td.bnktsbuktnmkj12_label {
  width: 35%;
}


table#bunkatuKeisanKekka13 td.shrtaisyou13_label {
  width: 20%;
}

table#bunkatuKeisanKekka13 td.uktrjuni13_label {
  width: 20%;
}

table#bunkatuKeisanKekka13 td.uktrwraibunsi13_label {
  width: 25%;
}

table#bunkatuKeisanKekka13 td.bnktsbuktnmkj13_label {
  width: 35%;
}


table#bunkatuKeisanKekka14 td.shrtaisyou14_label {
  width: 20%;
}

table#bunkatuKeisanKekka14 td.uktrjuni14_label {
  width: 20%;
}

table#bunkatuKeisanKekka14 td.uktrwraibunsi14_label {
  width: 25%;
}

table#bunkatuKeisanKekka14 td.bnktsbuktnmkj14_label {
  width: 35%;
}


table#bunkatuKeisanKekka15 td.shrtaisyou15_label {
  width: 20%;
}

table#bunkatuKeisanKekka15 td.uktrjuni15_label {
  width: 20%;
}

table#bunkatuKeisanKekka15 td.uktrwraibunsi15_label {
  width: 25%;
}

table#bunkatuKeisanKekka15 td.bnktsbuktnmkj15_label {
  width: 35%;
}

div.listDiv {
  overflow-y: hidden;
}

.viewFirstCell{
    float: left;
}
.viewFirstCell1{
    float: left;
    display: inline-block;
    width: 13%;
}
