/* �x���ڍו\���i�ی����j -  view_shr_syousai_s.css */

table#hktshrMeisaisInfo td.syouhnnmgm_label {
  width: 40%;
}

table#hktshrMeisaisInfo td.kyhkg_label {
  width: 17%;
}

table#hktshrMeisaisInfo td.bikoumsg1_label {
  width: 43%;
}