/* テーブル照会 -  table_syoukai.css */

table#tableSearchResultList td.baseSelectLink_label {
	width: 5%;
}

table#tableSearchResultList td.baseSelectLink_data {
	text-align: center;
}

table#tableSearchResultList td.subSystemNm_label {
	width: 10%;
}

table#tableSearchResultList td.baseTableId_label {
	width: 14%;
}

table#tableSearchResultList td.baseTableNm_label {
	width: 17%;
}

table#tableSearchResultList td.baseSearchPtnNm_label {
	width: 12%;
}

table#tableSearchResultList td.baseSearchDdNm_label {
	width: 42%;
}

table#inputSearchCondition td.baseSearchDdNm_label {
	width: 18%;
}

table#inputSearchCondition td.baseSearchConditionKbn_label {
	width: 82%;
}

table#tableDatas td.syousaiLink {
	text-align: center;
}

table#resultDetailList td.baseFieldNm_label {
	width: 20%;
}

table#resultDetailList td.baseFieldValue_label {
	width: 80%;
}

div.functionNameLink {
	color: #fd6600;
	text-shadow: 1px 1px 1px #8b4513;
	text-decoration: none;
}