/* 帳票個別出力 -  bz_tyouhyou_kobetu.css */

table#kensakuKekkaItiranList td.tyouhyouSyuturyokuLink_label {
	width: 4%;
}

table#kensakuKekkaItiranList td.knskkmknm1_label {
	width: 12%;
}

table#kensakuKekkaItiranList td.knskkmknm2_label {
	width: 12%;
}

table#kensakuKekkaItiranList td.knskkmknm3_label {
	width: 12%;
}

table#kensakuKekkaItiranList td.knskkmknm4_label {
	width: 12%;
}

table#kensakuKekkaItiranList td.knskkmknm5_label {
	width: 12%;
}

table#kensakuKekkaItiranList td.disptyouhyousakuseiymd_label {
	width: 9%;
}

table#kensakuKekkaItiranList td.dispoutkaisuu_label {
	width: 9%;
}

table#kensakuKekkaItiranList td.dispfstoutymd_label {
	width: 9%;
}

table#kensakuKekkaItiranList td.displstoutymd_label {
	width: 9%;
}