/* 担当者別処理タスク照会 -  tantousyabetu_syori_task_syoukai.css */


table#taskserInfo td.dispjimutetuzukinm_label {
  width: 13%;
}

table#taskserInfo td.dispGyoumuKey_label {
  width: 9%;
}

table#taskserInfo td.dispsyoritime_label {
  width: 14%;
}

table#taskserInfo td.disptasknm_label {
  width: 17%;
}

table#taskserInfo td.disphknsyuruiworklist_label {
  width: 11%;
}

table#taskserInfo td.disptratkiagnm1_label {
  width: 18%;
}

table#taskserInfo td.dispkyknmkn_label {
  width: 18%;
}
