/* 機能定義登録 -  kinou_teigi_touroku.css */

table#kengenSetteiList td.commonCheckBox_label {
	width: 5% !important;
}

table#kengenSetteiList td.roleNm_label {
	width: 13% !important;
}

table#kengenSetteiList td.roleSetumei_label {
	width: 48% !important;
}

table#kengenSetteiList td.siborikomiId_label {
	width: 34% !important;
}

table.listItems tr td.commonCheckBox_data {
	text-align: center
}

table#kinouModeInfoList td.subSystemNm_label {
	width: 28% !important;
}

table#kinouModeInfoList td.categoryNm_label {
	width: 19% !important;
}

table#kinouModeInfoList td.kinouNm_label {
	width: 19% !important;
}

table#kinouModeInfoList td.kinouModeNm_label {
	width: 28% !important;
}

table#kinouModeInfoList td.henkouLink_label {
	width: 6% !important;
}

table.listItems tr td.henkouLink_data {
	text-align: center
}

table.listItems tr td {
	word-wrap: break-word;
}