/* 契約保全工程ワークリスト -  hozen_work_list.css */


table#resultInfoTskSntkBase td.jimutetuzukicd_label {
  width: 100%;
}

#resultInfoTskSntkBase {
  border-spacing : 0px 10px;
  border-collapse: separate;
}

caption {
  text-align: left;
}

table.listItemsClone {
  table-layout: fixed;
  width: 85%;
}

table.listItemsClone tr {
  background-color: #ffffcc;
}

table.listItemsClone tr:nth-child(odd) {
  background-color: #ffffdd;
}

table.listItemsClone tr td {
  border-width: 1px 1px 1px 1px;
}

form div{
  width : 95%;
}

div.buttonsDiv{
  width : 100%;
}


table#resultInfoItiran td.dispjimustartymdtime_label {
  width : 14%;
}

table#resultInfoItiran td.syono_label {
  width : 10%;
}

table#resultInfoItiran td.dispsyouhnnmworklist_label {
  width : 7%;
}

table#resultInfoItiran td.kyknmkj_label {
  width : 27%;
}

table#resultInfoItiran td.dispzenkaisyoritask_label {
  width : 27%;
}

table#resultInfoItiran td.dispzenkaisyoritantounm_label {
  width : 11%;
}

table#resultInfoItiran td.nyuuryokuLink_label {
  width : 4%;
}


table.listItemsClone tr td.label {
  padding: 0 0 0 2px;
  width: 14%;
  background-color: #c6e6b3;
  text-align: center;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px;
  height: 24px;
}

table.listItemsClone tr td {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 24px;
}

table.listItemsClone tr td.kjnTskKensuu_data, table.listItemsClone tr td.kyyTskKensuu_data {
  text-align: right;
}

table.listItemsClone tr td span.itemUnit {
  margin-left: 5px;
}

table.listItemsClone tr td span.noValidationLinkItem {
  display: inline-block;
    width: 20%;
  margin-right: 5px;
}

table#resultInfoItiran tr td.nyuuryokuLink_data {
  text-align: center;
}
