/* 入金照会 -  kh_nyuukin_syoukai.css */
table#nyuukinsyoukaiInput span#jyutoukaisuuyUnit {
    display: inline-block;
    width: 8.65%;
    text-align:left;
}

.leftViewCell {
  display: inline-block;
  width: 41.5%;
  vertical-align: middle;
  text-align: right;
}

.ryosyujiKwsratekjymd {

}

.ryosyujiKwsrate {
  display: inline-block;
  width: 8%;
  text-align: right;
}

.rstuukasyu {

}

.kyktuukasyu {
  display: inline-block;
  margin-right: 58.5%;
}

#jyutoukaisuumSpan{
  display: inline-block;
  margin-left: 5%;
}
