/* 仮受訂正 -  kh_kariuke_teisei.css */
.bfrFirstCell {
  display: inline-block;
  width:10%;
}

#bankcdSpan{
  display: inline-block;
  width:22%;
}
#searchBtnSpan{
  display: inline-block;
  width:15%;
}
#sitencdSpan{
  display: inline-block;
  width:22%;
}

#yokinkbnSpan {
  display: inline-block;
  width:22%;
}

#kouzanoSpan {
  display: inline-block;
  width:22%;
}

#kzdoukbnSpan {
  display: inline-block;
  width:22%;
}

.rightMargin{
    display: inline-block;
    width: 10%;
    text-align:left;
}
