/* 帳票一括出力 -  bz_tyouhyou_ikkatu.css */

table#searchResultList td.dispsyoruinm_label {
	width: 34%;
}

table#searchResultList td.dispmisyuturyokukensuu_label {
	width: 33%;
}

table#searchResultList td.dispsakuseisoukensuu_label {
	width: 33%;
}

table#searchKeyList td.knskkmknm1_label {
	width: 20%;
}

table#searchKeyList td.knskkmknm2_label {
	width: 20%;
}

table#searchKeyList td.knskkmknm3_label {
	width: 20%;
}

table#searchKeyList td.knskkmknm4_label {
	width: 20%;
}

table#searchKeyList td.knskkmknm5_label {
	width: 20%;
}