/* イメージ削除 -  image_sakujyo.css */


table#ankenList td.dispjimutetuzukinm_label {
  width: 13%;
}

table#ankenList td.dispGyoumuKey_label {
  width: 16%;
}

table#ankenList td.dispsyoruinm_label {
  width: 30%;
}

table#ankenList td.dispkouteikanristatus_label {
  width: 11%;
}

table#ankenList td.syoruittykymdtime_label {
  width: 16%;
}

table#ankenList td.hyoujilink_label {
  width: 7%;
}

table#ankenList td.sakujyoLink_label {
  width: 7%;
}


table#ankenList2 td.dispjimutetuzukinm_label {
  width: 13%;
}

table#ankenList2 td.dispGyoumuKey_label {
  width: 16%;
}

table#ankenList2 td.dispsyoruinm_label {
  width: 30%;
}

table#ankenList2 td.dispkouteikanristatus_label {
  width: 11%;
}

table#ankenList2 td.syoruittykymdtime_label {
  width: 16%;
}

table#ankenList2 td.hyoujilink_label {
  width: 7%;
}

table#ankenList2 td.sakujyoLink_label {
  width: 7%;
}
