/* 担当者割当解除 -  wariate_kaijyo.css */


table#taskserInfo td.dispjimustartymd_label {
  width: 20%;
}

table#taskserInfo td.disptasknm_label {
  width: 20%;
}

table#taskserInfo td.disptantounm_label {
  width: 20%;
}

table#taskserInfo td.dispGyoumuKey_label {
  width: 33%;
}

table#taskserInfo td.wariateKaijyoLink_label {
  width: 7%;
}


table#taskserInfo td.dispGyoumuKey_data {
  overflow: hidden;

}

table#taskserInfo td.wariateKaijyoLink_data {
  text-align: center;
}