/* 申込書入力 -  sk_mousikomisyo.css */

div.miniMargin{
  margin-top: 6px;
}

.fontRed {
  color: #ff0000;
}

.firstCell {
  display: inline-block;
  width: 12%;
}

#kyknmkn, #kyknmkj, #hhknnmkn, #hhknnmkj,
#sbuktnmkn1, #sbuktnmkj1, #sbuktnmkn2, #sbuktnmkj2, #sbuktnmkn3, #sbuktnmkj3, #sbuktnmkn4, #sbuktnmkj4,
#siteidruktnmkn, #siteidruktnmkj, #trkkzknmkn1, #trkkzknmkj1, #trkkzknmkn2, #trkkzknmkj2, #kykdairinmkn, #kykdairinmkj {
  display: inline-block;
  width: 35%;
}

#aisyoumei, #aisyoumeikbn {
  margin-left: 5px;
  width: 400px;
  text-align: right;
}

.hhknsykgycdDisp {
  display: inline-block;
  width: 20%;
}

#IHF0044 {
  margin-left: 150px;
}

#IHF0047 {
  margin-left: 40px;
}

.teikikinUkeInfoDisp {
  display: inline-block;
  width: 25%;
}

.aligRightGk{
  text-align: right !important;
}

.kingakuDisp {
  text-align: center;
}

.EHA0333 {
  color: #ff0000;
  font-weight: bold;
  margin-left: 20px;
}

#IHF1001 {
  float:right;
  display: inline-block;
  width: 35%;
}
#IHF0044 {
  margin-left: 5%;
}

.alignMessageCell{
    margin-left: 30px;
}

#hrktuukasyukykpSpan{
  display: inline-block;
  width: 65%;
}

#hrktuukasyukykp2Span{
  display: inline-block;
  width: 65%;
}


#IHF1009 {
  margin-left: 270px;
}

#IBC1001 {
  margin-left: 192px;
}

#IBC1002 {
  margin-left: 220px;
}

#IBC1003 {
  margin-left: 236px;
}

#IBC1004 {
  margin-left: 117px;
}

#IHF1010 {
  margin-left: 236px;
}

#IHF1031 {
  margin-left: 236px;
}

#IHF1011 {
  margin-left: 70px;
}
#IHF1012 {
  margin-left: 236px;
}
.leftDispCell{
  display:inline-block;
  margin-right:58.5%;
  text-align:right;
}

.contentsButtonLeft {
    text-align: left;
    margin-bottom: 2px;
}

#IHF1027 {
  margin-left: 160px;
}

#IHF1028 {
  margin-left: 94px;
}

.alignMessageCell2 {
    margin-left: 100px;
}

.alignMessageCell3 {
  float:right;
  width: 80%;
}

#IHF1030 {
  margin-left: 20px;
}

.alignMessageCell4 {
  float:right;
  width: 65%;
}

.nonMargin {
  margin-top: 0px;
}
