/* 入金／返金状況確認 -  sk_nyuukin_henkin_kakunin.css */

table#goukeiInfo td.dispgkdtendt_label {
  width: 20%;
}

table#goukeiInfo td.disprstuukasyu_label {
  width: 20%;
}

table#goukeiInfo td.dispkensuu_label {
  width: 20%;
}

table#goukeiInfo td.disprskingaku_label {
  width: 20%;
}

table#goukeiInfo td.disprsdengkyen_label {
  width: 20%;
}

table#nyuukinMeisai td.mosno_label {
  width: 8%;
}

table#nyuukinMeisai td.kyknmkn_label {
  width: 12%;
}

table#nyuukinMeisai td.gkdtendt_label {
  width: 6%;
}

table#nyuukinMeisai td.nyknsyubetu_label {
  width: 13%;
}

table#nyuukinMeisai td.ryosyuymd_label {
  width: 8%;
}

table#nyuukinMeisai td.rsgaku_label {
  width: 15%;
}

table#nyuukinMeisai td.denyenkagk_label {
  width: 13%;
}

table#nyuukinMeisai td.fstpryosyuymd_label {
  width: 9%;
}

table#nyuukinMeisai td.denkawaserate_label {
  width: 8%;
}

table#nyuukinMeisai td.seiritukbn_label {
  width: 8%;
}

table#henkinMeisai td.mosno_label {
  width: 8%;
}

table#henkinMeisai td.kyknmkn_label {
  width: 17%;
}

table#henkinMeisai td.gkdtendt_label {
  width: 7%;
}

table#henkinMeisai td.hnknhoukbn_label {
  width: 10%;
}

table#henkinMeisai td.hnkngk_label {
  width: 16%;
}

table#henkinMeisai td.denyenkagk_label {
  width: 16%;
}

table#henkinMeisai td.fstpryosyuymd_label {
  width: 9%;
}

table#henkinMeisai td.denkawaserate_label {
  width: 9%;
}
table#henkinMeisai td.seiritukbn_label {
  width: 8%;
}