/* �V�_��葱���Ӑݒ� -  sk_tetuduki_tyuui.css */

div.miniMargin {
  margin-top: 6px;
}

table#toriatukaiTyuuiInfo td.skeittdktyuitrtnaiyo_label {
  width: 85%;
}

table#toriatukaiTyuuiInfo td.disptratkityuuidel_label {
  width: 15%;
}

table#sonotaTyuuiInfo td.skeittdktyuistnaiyo_label {
  width: 85%;
}

table#sonotaTyuuiInfo td.dispsttratkityuuidel_label {
  width: 15%;
}
