/* 契約保全内容確認 -  kh_naiyou_kakunin.css */


table#jyouhouList td.dispjimutetuzukinm_label {
  width: 25%;
}

table#jyouhouList td.dispkinoussnm_label {
  width: 25%;
}

table#jyouhouList td.dispjimustartymd_label {
  width: 25%;
}

table#jyouhouList td.nyuuryokuLink_label {
  width: 25%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#kakuninKekkaInfo td.dispnaiyoukakymd_label {
  width: 25%;
}

table#kakuninKekkaInfo td.dispsousasyanm_label {
  width: 25%;
}

table#kakuninKekkaInfo td.disptasknm_label {
  width: 25%;
}

table#kakuninKekkaInfo td.dispcomment_label {
  width: 25%;
}
