/* オンライン入金処理 -  kh_online_nyuukin.css */


table#hrkeiraiInfo td.nykntaisyouchkbox_label {
  width: 4%;
}

table#hrkeiraiInfo td.nykntaisyou_label {
  width: 11%;
}

table#hrkeiraiInfo td.nyknaiyoukbn_label {
  width: 8%;
}

table#hrkeiraiInfo td.jyuutouym_label {
  width: 9%;
}

table#hrkeiraiInfo td.hrkkigen_label {
  width: 9%;
}

table#hrkeiraiInfo td.hrkiraikngk_label {
  width: 11%;
}

table#hrkeiraiInfo td.comment124keta_label {
  width: 26%;
}

table#hrkeiraiInfo td.jyutoukaisuuy_label {
  width: 9%;
}

table#hrkeiraiInfo td.kzkpannaijiyuukbn_label {
  width: 9%;
}
table#hrkeiraiInfo tr {
   background-color: #ffffcc;
}
div#hrkeiraiInfoDiv {
  overflow: visible;
}
.leftMargin {
  margin-left: 15px;
}

.lertKrkgk{
  display: inline-block;
  width: 41.5%;
  vertical-align: middle;
  text-align:right;
}

