
/* œ‘—Şî•ñˆê—— (syoruiInfo) */
div.miniMarginViewSyoruiInfoItiran {
  margin-top: 6px;
}

table#syoruiInfoList td.syoruittykymdtime_label {
  width: 12%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 64%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 12%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 12%;
}
