/* 銀行検索 -  bz_srch_ginkou.css */

table#searchResults td.dispbankcd_label {
	width: 10%;
}

table#searchResults td.dispbanknmkn_label {
	width: 45%;
}

table#searchResults td.dispbanknmkj_label {
	width: 45%;
}