/* 進捗状況照会 -  sk_styjksyoukai.css */

table#searchResultsTitle td.dispjimustartymdtime_label {
  width: 132px;
}
table#searchResultsTitle td.dispmosno_label {
  width: 80px;
}
table#searchResultsTitle td.dispkinoussnm_label {
  width: 320px;
}
table#searchResultsTitle td.disptratkiagcd_label {
  width: 100px;
}
table#searchResultsTitle td.disptratkiagnm_label {
  width: 380px;
}
table#searchResultsTitle td.dispoyadrtencd_label {
  width: 100px;
}
table#searchResultsTitle td.dispoyadrtennm_label {
  width: 380px;
}
table#searchResultsTitle td.disphubiumu_label {
  width: 60px;
}
table#searchResultsTitle td.disptrkymd_label {
  width: 80px;
}
table#searchResultsTitle td.disphassinymd_label {
  width: 80px;
}
table#searchResultsTitle td.dispkaisyouymd_label {
  width: 80px;
}
table#searchResultsTitle td.dispnyknumukbn_label {
  width: 60px;
}
table#searchResultsTitle td.disphrkkeiro_label {
  width: 130px;
}
table#searchResultsTitle td.dispketteikbn_label {
  width: 90px;
}
table#searchResultsTitle td.dispjimusrhkbn_label {
  width: 80px;
}
table#searchResultsTitle td.dispseiritukbn_label {
  width: 80px;
}
table#searchResultsTitle td.dispsyoriymd_label {
  width: 80px;
}
table#searchResultsTitle td.displastkossyori_label {
  width: 380px;
}

table#searchResults td.dispjimustartymdtime_label {
  width: 132px;
}
table#searchResults td.dispmosno_label {
  width: 80px;
}
table#searchResults td.dispkinoussnm_label {
  width: 320px;
}
table#searchResults td.disptratkiagcd_label {
  width: 100px;
}
table#searchResults td.disptratkiagnm_label {
  width: 380px;
}
table#searchResults td.dispoyadrtencd_label {
  width: 100px;
}
table#searchResults td.dispoyadrtennm_label {
  width: 380px;
}
table#searchResults td.disphubiumu_label {
  width: 60px;
}
table#searchResults td.disptrkymd_label {
  width: 80px;
}
table#searchResults td.disphassinymd_label {
  width: 80px;
}
table#searchResults td.dispkaisyouymd_label {
  width: 80px;
}
table#searchResults td.dispnyknumukbn_label {
  width: 60px;
}
table#searchResults td.disphrkkeiro_label {
  width: 130px;
}
table#searchResults td.dispketteikbn_label {
  width: 90px;
}
table#searchResults td.dispjimusrhkbn_label {
  width: 80px;
}
table#searchResults td.dispseiritukbn_label {
  width: 80px;
}
table#searchResults td.dispsyoriymd_label {
  width: 80px;
}
table#searchResults td.displastkossyori_label {
  width: 380px;
}

.secondCell1 {
  width: 130px;
}
.secondCell2 {
  width: 78px;
}
.secondCell3 {
  width: 318px;
}
.secondCell4 {
  width: 98px;
}
.secondCell5 {
  width: 378px;
}
.secondCell6 {
  width: 98px;
}
.secondCell7 {
  width: 378px;
}
.secondCell8 {
  width: 58px;
}
.secondCell9 {
  width: 78px;
}
.secondCell10 {
  width: 78px;
}
.secondCell11 {
  width: 78px;
}
.secondCell12 {
  width: 58px;
}
.secondCell13 {
  width: 128px;
}
.secondCell14 {
  width: 88px;
}
.secondCell15 {
  width: 78px;
}
.secondCell16 {
  width: 78px;
}
.secondCell17 {
  width: 78px;
}
.secondCell18 {
  width: 378px;
}
.secondCell19{
width: 361px;
}
