/* 決定理由一覧 -  sk_kettei_riyuu.css */

.listDiv {
  width: 50%;
  margin-left: 50px;

}

table#ketteiriyuuList td.dispketteiriyuucd_label {
  width: 30%;
  text-align: left;
}

table#ketteiriyuuList td.dispketteiriyuunaiyou_label {
  width: 70%;
  text-align: left;
}

