table.listItems tr td.holidayGroupCd_label {
	width: 15% !important;
}

table.listItems tr td.holidayGroupNm_label {
	width: 20% !important;
}

table.listItems tr td.holidayGroupDescription_label {
	width: 55% !important;
}

table.listItems tr td.henkouLink_label {
	width: 5% !important;
}

table.listItems tr td.sakujyoLink_label {
	width: 5% !important;
}

table.listItems tr td.sakujyoLink_data {
	text-align: center !important;
}

table.listItems tr td.henkouLink_data {
	text-align: center !important;
}

table.listItems tr td {
	word-wrap: break-word;
}

.holidayGroupCdkoumoku {
	padding: 0 0 0 2px;
	width: 30%;
	background-color: #c6e6b3;
	text-align: center;
	border-color: #C5BAA2;
	border-style: solid;
	border-width: 1px;
	height: 28px;
}