/* 減額 -  kh_gengaku.css */
td.alignGkCell {
  text-align: right;
  padding-right:504px;
}

.inputGkRight {
  text-align: right;
}

.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}

.messageCell1 {
  padding-right:295px;
}

.messageCell2 {
  padding-right:270px;
}

.shrrateThirdCell {
  display: inline-block;
  margin-right:58.5%;
}

.rateAlignRight {
    text-align:right;
}

.siharaiFirstCell {
  width: 8%;
}

table#siharaiInfo span#dispsyoruiukeymdSuffix {
  padding-right: 100px;
}

table#siharaiWaseRate span#yenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

table#siharaiNaiyouInfoGk span#shrtienrsk {
  display: inline-block;
  text-align:right;
}

table#siharaiNaiyouInfoYen span#jpyshrtienrsk {
  display: inline-block;
  text-align:right;
}

table#zeimuInfo span#zeimukwsrate {
  display: inline-block;
  width: 35%;
  text-align:right;
}

.yokinkbnCell {
  width: 8%;
  text-align:left;
}

.innerLeftZeimuInfo {
  float: left;
}

.zeimuInfoLeftCell{
  display: inline-block;
  width: 41.5%;
}

.alignBankNm {
  padding-left:100px;
}

.alignSitenNm {
  padding-left:106px;
}

#dispgstszeigkcalckahimongon{
  display: inline-block;
  float: left;
}

.leftViewCell {
  float: left;
  text-align: right;
  display: inline-block;
  width: 41.4%;
}

 .innerLeftShrkwsratee {
  display: inline-block;
}

.innerCenterYenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

.innerCenterShrkyktuukasyu {
  display:inline-block;
  margin-right:58.5%;
}