/* イメージ照会 -  image_syoukai.css */


table#ankenList td.dispjimutetuzukinm_label {
  width: 15%;
}

table#ankenList td.dispGyoumuKey_label {
  width: 20%;
}

table#ankenList td.dispsyoruinm_label {
  width: 34%;
}

table#ankenList td.dispkouteikanristatus_label {
  width: 8%;
}

table#ankenList td.syoruittykymdtime_label {
  width: 15%;
}

table#ankenList td.hyoujilink_label {
  width: 8%;
}
