/* 解約 -  kh_kaiyaku.css */

.siharaiLeftCell {
  display:inline-block;
  text-align:right;
}

.rateFirstCell {
  display: inline-block;
  width: 8%;
  text-align:right;
}

.rateSecondCell {
  display: inline-block;
  width: 21%;
  text-align:right;
}

.middleRight{
  display:inline-block;
  width:40.6%;
  text-align:right;
}

.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}

.yokinkbnCell {
  width: 7%;
  text-align:left;
}

.alignMessageCell5 {
  padding-left:50px;
}

.alignBankNm {
  padding-left:100px;
}

.alignSitenNm {
  padding-left:106px;
}

.innerCenterShrkyktuukasyu {
  display: inline-block;
  margin-right:58.5%;
}

.zeimuInfoLeftCell {
  display: inline-block;
  margin-right:58.5%;
}

#dispgstszeigkcalckahimongon{
  display: inline-block;
  float: left;
}

.leftViewCell {
  float: left;
  text-align: right;
  display: inline-block;
  width: 41.4%;
}

 .innerLeftShrkwsratee {
  display: inline-block;
}

.innerCenterYenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

.innerCenterShrkyktuukasyu {
  display:inline-block;
  margin-right:58.5%;
}