/* 帳票出力権限登録 -  bz_tyouhyou_syuturyoku_kengen.css */

table#tyouhyouList td.dispsubsystemnm_label {
	width: 20%;
}

table#tyouhyouList td.dispsyoruinm_label {
	width: 60%;
}

table#tyouhyouList td.dispikkatuoutputchkbox_label {
	width: 10%;
}

table#tyouhyouList td.dispkobetuoutputchkbox_label {
	width: 10%;
}