/* 不備メッセージ -  sk_hubi_msg.css */


table#ketteiHoryuuHubi td.msgsyubetu_label {
  width: 6%;
}

table#ketteiHoryuuHubi td.disphubimsgid_label {
  width: 15%;
}

table#ketteiHoryuuHubi td.disphubimsg_label {
  width: 79%;
}


table#seirituHoryuuHubi td.msgsyubetu_label {
  width: 6%;
}

table#seirituHoryuuHubi td.disphubimsgid_label {
  width: 15%;
}

table#seirituHoryuuHubi td.disphubimsg_label {
  width: 79%;
}


table#warning td.msgsyubetu_label {
  width: 6%;
}

table#warning td.disphubimsgid_label {
  width: 15%;
}

table#warning td.disphubimsg_label {
  width: 79%;
}


table#kihonHubi td.msgsyubetu_label {
  width: 6%;
}

table#kihonHubi td.disphubimsgid_label {
  width: 15%;
}

table#kihonHubi td.disphubimsg_label {
  width: 79%;
}
