/* 入力差異照会 -  sk_nyuuryoku_sai_syoukai.css */


table#nyuuryokuSouiList td.dispnrksouikm_label {
  width: 25%;
}

table#nyuuryokuSouiList td.dispitijinrk_label {
  width: 36%;
}

table#nyuuryokuSouiList td.dispnijinrk_label {
  width: 36%;
}

table#nyuuryokuSouiList td.commonCheckBox_label {
  width: 3%;
}
