/* 保険金給付金不備内容検索 -  si_hubi_naiyou_kensaku.css */


table#hubinaiyouList td.disphubinaiyou_label {
  width: 30%;
}

table#hubinaiyouList td.disphubinaiyoumsg_label {
  width: 60%;
}

table#hubinaiyouList td.sentakulink_label {
  width: 10%;
}
