/* 査定総合照会 -  si_satei_sougou_syoukai.css */

table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#skKihonKanriInfo td.dispsyono_label {
  width: 20%;
}

table#skKihonKanriInfo td.dispsyoriymd_label {
  width: 20%;
}

table#skKihonKanriInfo td.dispnextsyorinm_label {
  width: 20%;
}

table#skKihonKanriInfo td.disphubikbn_label {
  width: 20%;
}

table#skKihonKanriInfo td.disptyousajkkbn_label {
  width: 20%;
}


table#progresshistoryinfo td.vprghsdispsyoriymd_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdisptasknm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsyorikekkakbn_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispsousasyanm_label {
  width: 20%;
}

table#progresshistoryinfo td.vprghsdispcomment_label {
  width: 20%;
}


table#hubiList td.trkymd_label {
  width: 6%;
}

table#hubiList td.syoruinm_label {
  width: 40%;
}

table#hubiList td.genponhnkykumu_label {
  width: 3%;
}

table#hubiList td.hasinymd_label {
  width: 6%;
}

table#hubiList td.hassinsakikbn_label {
  width: 10%;
}

table#hubiList td.dispnyuryokutantounm_label {
  width: 10%;
}

table#hubiList td.kaisyouymd_label {
  width: 6%;
}

table#hubiList td.hubisyoruimsg_label {
  width: 40%;
}

table#hubiList td.hubisyouninktntnm_label {
  width: 18.5%;
}


table#betukykInfo td.btkyksyono_label {
  width: 20%;
}

table#betukykInfo td.syscdkbn_label {
  width: 10%;
}

table#betukykInfo td.betukutikeiyakukbn_label {
  width: 10%;
}

table#betukykInfo td.kankeisyakbnname_label {
  width: 10%;
}

table#betukykInfo td.syoumetuymd_label {
  width: 10%;
}

table#betukykInfo td.syoumetujiyuuname_label {
  width: 10%;
}

table#betukykInfo td.syouhnnm_label {
  width: 30%;
}


table#ttdktyuuikbnInfo td.vtdktttdktyuuikbn_label {
  width: 15%;
}

table#ttdktyuuikbnInfo td.vtdktttdktyikbnhsknaiyou_label {
  width: 55%;
}

table#ttdktyuuikbnInfo td.vtdktttdktyuuikbnsetymd_label {
  width: 12%;
}

table#ttdktyuuikbnInfo td.vtdktsetsosikinm_label {
  width: 18%;
}

.viewSoukinsakiFirstCell{
  display: inline-block;
  width:8%;
}

.viewKeiyakusyaFirstCell {
  display: inline-block;
  width: 20%;
}

.viewHihokensyaFirstCell {
  display: inline-block;
  width: 20%;
}

div.miniMargin {
  margin-top: 6px;
}

.innerLeftViewHosyou {
  float: left;
}
.innerRightView {
  float: right;
}

.viewHosyouFirstCell {
  display: inline-block;
  width: 9%;
}

.innerCenterViewHosyou1 {
  display: inline-block;
  width: 39%;
}

.viewSbHkuktFirstCell {
  display: inline-block;
  width: 18%;
}

.innerLeftViewDrten {
  display: inline-block;
  width: 18%;
}

div.listDiv {
  overflow-y: hidden;
}
.pageLinkButtons{
  width: 98px;
}