/* œ‰¼ó‹àî•ñ (kariukekinInfo) */

table#kariukekinInfo td.vkukkrkno_label {
  width: 6%;
}

table#kariukekinInfo td.vkukkrkkeijyoymd_label {
  width: 8%;
}

table#kariukekinInfo td.vkukkrkriyuukbn_label {
  width: 15%;
}

table#kariukekinInfo td.vkukhrkkaisuu_label {
  width: 7%;
}

table#kariukekinInfo td.vkuknykkeiro_label {
  width: 9%;
}

table#kariukekinInfo td.vkuknyknaiyoukbn_label {
  width: 13%;
}

table#kariukekinInfo td.vkukjyuutouym_label {
  width: 7%;
}

table#kariukekinInfo td.vkukjyutoukaisuu_label {
  width: 10%;
}

table#kariukekinInfo td.vkukryosyuymd_label {
  width: 8%;
}

table#kariukekinInfo td.vkukkrkgk_label {
  width: 16%;
}