/* 当日ＦＢ返金取消 -  sk_toujitu_fb_henkin_torikesi.css */

table#henkinJyouhouList td.dummykmk_label {
  width: 4%;
}

table#henkinJyouhouList td.disphnkngk_label {
  width: 15%;
}

table#henkinJyouhouList td.disphnknymd_label {
  width: 10%;
}

table#henkinJyouhouList td.disphnknhoukbn_label {
  width: 10%;
}

table#henkinJyouhouList td.dispsrgohnknumu_label {
  width: 10%;
}

table#henkinJyouhouList td.dispbankcd_label {
  width: 24%;
}

table#henkinJyouhouList td.dispyokinkbn_label {
  width: 14%;
}

table#henkinJyouhouList td.dispkzmeiginmkn_label {
  width: 13%;
}

table#henkinJyouhouList td.sentakulink_label {
  width: 4%;
}
