/* ���z������� (haitoukinInfo) */
.lefFloatViewHaitoukin {
  float: left;
}
#vhthaitounendoPrefix{
  float: left;
}
#vhthaitounendoSuffix{
  float: left;
}
#vhttumitatenendoPrefix{
  float: left;
}
#vhttumitatenendoSuffix{
  float: left;
}
