/* 死亡保険金受取人情報表示 -  view_uketorinin_sb.css */
.viewUketorininSBFristCell{
    display:inline-block;
    width:33%;
     float: left;
}
.miniMarginViewUketorininSB{
    margin-top:6px;
}

.viewUketorininSBInnerLeft {
      float: left;
}