/* ＤＳメール配信予約 -  ds_mail_haisin_yoyaku.css */

table#searchResultInfo td.dsmailhaisinyoteiymd_label {
	width: 12%;
}

table#searchResultInfo td.dssousinmailsyubetukbn_label {
	width: 16%;
}

table#searchResultInfo td.dshaisinyoyakustatuskbn_label {
	width: 12%;
}

table#searchResultInfo td.syouninlink_label {
	width: 12%;
}

table#searchResultInfo td.sakujyoLink_label {
	width: 12%;
}

table#searchResultInfo td.gyoumuKousinTime_label {
	width: 12%;
}

table#searchResultInfo td.dsmailhaisintourokuymd_label {
	width: 12%;
}

table#searchResultInfo td.dsmailhaisinsyouninymd_label {
	width: 12%;
}