/* 取込用表紙作成 -  torikomi_hyousi_sakusei.css */


table#ankenList td.dispjimutetuzukinm_label {
  width: 28%;
}

table#ankenList td.dispkouteikanristatus_label {
  width: 16%;
}

table#ankenList td.dispkouteikaisiymd_label {
  width: 16%;
}

table#ankenList td.dispjimustartymd_label {
  width: 16%;
}

table#ankenList td.dispkouteikanymd_label {
  width: 16%;
}

table#ankenList td.sakuseiLink_label {
  width: 8%;
}


table#ankenList2 td.dispjimutetuzukinm_label {
  width: 28%;
}

table#ankenList2 td.dispkouteikanristatus_label {
  width: 16%;
}

table#ankenList2 td.dispkouteikaisiymd_label {
  width: 16%;
}

table#ankenList2 td.dispjimustartymd_label {
  width: 16%;
}

table#ankenList2 td.dispkouteikanymd_label {
  width: 16%;
}

table#ankenList2 td.sakuseiLink_label {
  width: 8%;
}
