/* 払方変更 -  kh_haraikata_henkou.css */

.floatRight {
	float: right;
	width: 93%;
}

.floatRightMsg {
	float: right;
	width: 82%;
}

.miniMargin {
	margin-top: 5px;
}

span#IIC0001 {
	float: right;
	width: 86%;
}

span#IIF3001 {
	float: right;
	width: 82%;
}

span#IIA3003 {
	float: right;
	width: 82%;
}

span#IIA3004 {
	float: right;
	width: 82%;
}

.alignMessageCell1 {
	margin-left: 110px;
}

.alignMessageCell2 {
	margin-left: 139px;;
}

.alignMessageCell3 {
	margin-left: 158px;
}

.alignMessageCell4 {
	margin-left: 38px;
}

.alignMessageCell5 {
	margin-left: 160px;
}

.alignMessageCell6 {
	margin-left: 166px;
}

.alignMessageCell7 {
	margin-left: 20px;
}

.hrhnkyoupkwsrateCell {
	display: inline-block;
	margin-left: 10.5%;
}