.innerRightViewHosyou {
  float: right;
}

div.miniMargin {
  margin-top: 6px;
}

.innerLeftViewHosyou {
  float: left;
}

.viewHosyouFirstCell {
  display: inline-block;
  width: 9%;
}

.innerCenterViewHosyou1 {
  display: inline-block;
  width: 18%;
}
.innerCenterViewHosyou2 {
  display: inline-block;
  width: 7%;
}

.innerCenterViewHosyou3 {
  display: inline-block;
  width: 23%;
}

.paddingLeft {
  float: left;
  text-align: right;
  display: inline-block;
  width: 41.4%;
}

.paddingLeft2 {
  float: left;
  text-align: right;
  display: inline-block;
  width: 39.6%;
}

.paddingLeft4c2 {
  display: inline-block;
  float: left;
  margin-left: 10%
}

.viewhosyoualignright {
   text-align : right;
}
table#hosyouInfo span#vhsyusyutkjyhyoutenPrefix {
  display : inline-block;
   margin-left:8.45%;
}

table#tkInfo1 span#vhsyudisptktkjyhyouten1Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo2 span#vhsyudisptktkjyhyouten2Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo3 span#vhsyudisptktkjyhyouten3Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo4 span#vhsyudisptktkjyhyouten4Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo5 span#vhsyudisptktkjyhyouten5Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo6 span#vhsyudisptktkjyhyouten6Prefix {
  display : inline-block;
   margin-left:8.5%;
}
table#tkInfo7 span#vhsyudisptktkjyhyouten7Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo8 span#vhsyudisptktkjyhyouten8Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo9 span#vhsyudisptktkjyhyouten9Prefix {
  display : inline-block;
   margin-left:8.45%;
}
table#tkInfo10 span#vhsyudisptktkjyhyouten10Prefix {
  display : inline-block;
   margin-left:8.45%;
}
.viewhosyotumitute{
  display:inline-block;
  text-align:right;
  width:40.6%;
}

#tbktInfomessageDiv{
  margin-top: 0px;
}