/* ������������ -  kh_kz_seibi.css */

.bfrFirstCell {
  display: inline-block;
  width:10%;
}

#newbankcdSpan{
  display: inline-block;
  width:98px;
}
#searchBtnSpan{
  display: inline-block;
  width:15%;
}
#newsitencdSpan{
  display: inline-block;
  width:68px;
}

#newkouzano12Span {
  display: inline-block;
  width:169px;
}

#IIC0012 {
  margin-left: 115px;
}

#IIC0013 {
  margin-left: 144px;
}

#IBC1003 {
  margin-left: 160px;
}

#IIC0014 {
  margin-left: 42px;
}

#IIC1003 {
  margin-left: 160px;
}

#IIA3003 {
  float:right;
  margin-right: 150px;
}
