/* 保険金給付金書類作成 -  si_make_syorui.css */


table#ankenSearchResultList td.dispjimutetuzukinm_label {
  width: 28%;
}

table#ankenSearchResultList td.dispkouteikanristatus_label {
  width: 16%;
}

table#ankenSearchResultList td.dispkouteikaisiymd_label {
  width: 16%;
}

table#ankenSearchResultList td.dispjimustartymd_label {
  width: 16%;
}

table#ankenSearchResultList td.dispkouteikanymd_label {
  width: 16%;
}

table#ankenSearchResultList td.syoruisakuseilink_label {
  width: 8%;
}


table#sakuseiTaisyouAnkenList td.dispjimutetuzukinm_label {
  width: 28%;
}

table#sakuseiTaisyouAnkenList td.dispkouteikanristatus_label {
  width: 16%;
}

table#sakuseiTaisyouAnkenList td.dispkouteikaisiymd_label {
  width: 16%;
}

table#sakuseiTaisyouAnkenList td.dispjimustartymd_label {
  width: 16%;
}

table#sakuseiTaisyouAnkenList td.dispkouteikanymd_label {
  width: 16%;
}

table#sakuseiTaisyouAnkenList td.sakuseiLink_label {
  width: 8%;
}
