/* 保険金給付金不備解消 -  si_hubi_kaisyou.css */


table#selectDataList td.jimutetuzukinm_label {
  width: 42%;
}

table#selectDataList td.jimustartymd_label {
  width: 42%;
}

table#selectDataList td.nyuuryokuLink_label {
  width: 16%;
}


table#kaisyouzumihubiList td.commonCheckBox_label {
  width: 4%;
}

table#kaisyouzumihubiList td.trkymd_label {
  width: 8%;
}

table#kaisyouzumihubiList td.hubinaiyoumsg_label {
  width: 41%;
}

table#kaisyouzumihubiList td.genponhnkykumuchkbox_label {
  width: 3%;
}

table#kaisyouzumihubiList td.hasinymd_label {
  width: 8%;
}

table#kaisyouzumihubiList td.hassinsakikbn_label {
  width: 9%;
}

table#kaisyouzumihubiList td.nyuuryokutantounm_label {
  width: 19%;
}

table#kaisyouzumihubiList td.kaisyouymd_label {
  width: 8%;
}

table#kaisyouzumihubiList td.syounintantounm_label {
  width: 19%;
}


table#mikaisyouhubiList1 td.commonCheckBox_label {
  width: 4%;
}

table#mikaisyouhubiList1 td.trkymd_label {
  width: 8%;
}

table#mikaisyouhubiList1 td.disphubinaiyoumsg_label {
  width: 41%;
}

table#mikaisyouhubiList1 td.dispgenponhnkykumuchkbox_label {
  width: 3%;
}

table#mikaisyouhubiList1 td.disphassinymd_label {
  width: 8%;
}

table#mikaisyouhubiList1 td.disphassinsakikbn_label {
  width: 9%;
}

table#mikaisyouhubiList1 td.dispnyuryokutantounm_label {
  width: 19%;
}

table#mikaisyouhubiList1 td.dispkaisyouymd_label {
  width: 8%;
}

table#mikaisyouhubiList1 td.dispsyounintantounm_label {
  width: 19%;
}

table#kaisyouzumihubiList tr {
   background-color: #ffffcc;
}

table#mikaisyouhubiList1 tr {
   background-color: #ffffcc;
}

div.listDiv {
  overflow-y: hidden;
}

.leftButtons {
  text-align: left;
  vertical-align: top;
  margin-left: 50px;
}

.miniMarginViewSyoruiInfoItiran{
    margin-top:0;
}

.miniMargin1{
  margin-top:1px;
  text-align: left;
}

.miniMargin2{
    margin-top:3px;
}
