/* ＣＩＦコード一括変更登録 -  kh_cifcd_ikkatu_henkou_touroku.css */


table#cifCodeHenkouInfoTitle td.disprenno3keta_label {
  width: 34px;
}

table#cifCodeHenkouInfoTitle td.syono_label {
  width: 461px;
}

table#cifCodeHenkouInfoTitle td.cifcd_label {
  width: 461px;
}


table#cifCodeHenkouInfo td.disprenno3keta_label {
  width: 34px;
}

table#cifCodeHenkouInfo td.syono_label {
  width: 461px;
}

table#cifCodeHenkouInfo td.cifcd_label {
  width: 461px;
}

.dataCell1 {
  width: 32px;
}
.dataCell2 {
  width: 461px;
}
.dataCell3 {
  width: 461px;
}

.uploadfileCss {
    width: 800px;
}