/* 医務査定 -  sk_imu_satei.css */


table#imuSateiRireki td.dispimusyoriymd_label {
  width: 10%;
}

table#imuSateiRireki td.dispimustktsyorinmkbn_label {
  width: 15%;
}

table#imuSateiRireki td.dispimukekkakbn_label {
  width: 15%;
}

table#imuSateiRireki td.dispimuktnm_label {
  width: 20%;
}

table#imuSateiRireki td.dispimucomment_label {
  width: 40%;
}


table#sentakuJouhou td.dispsntkinfotsysy_label {
  width: 15%;
}

table#sentakuJouhou td.dispsntkinfono_label {
  width: 15%;
}

table#sentakuJouhou td.dispsntkinfosyubetu_label {
  width: 55%;
}

table#sentakuJouhou td.dispsntkinfosyskbn_label {
  width: 15%;
}


table#toriatukaiTyuuiJouhou td.dispskeittdktyuitrttrkymd_label {
  width: 15%;
}

table#toriatukaiTyuuiJouhou td.dispskeittdktyuitrtnaiyo_label {
  width: 65%;
}

table#toriatukaiTyuuiJouhou td.dispskeittdktyuitrttantou_label {
  width: 20%;
}


table#kankyouSateiRireki td.dispknksyoriymd_label {
  width: 10%;
}

table#kankyouSateiRireki td.dispknkstktsyorinmkbn_label {
  width: 15%;
}

table#kankyouSateiRireki td.dispknkkekkakbn_label {
  width: 15%;
}

table#kankyouSateiRireki td.dispknkktnm_label {
  width: 20%;
}

table#kankyouSateiRireki td.dispknkcomment_label {
  width: 40%;
}


table#moushiTenkenRireki td.dispmostenkensyoriymd_label {
  width: 10%;
}

table#moushiTenkenRireki td.dispmostnknstktsyorinmkbn_label {
  width: 15%;
}

table#moushiTenkenRireki td.dispmostenkenkekkakbn_label {
  width: 15%;
}

table#moushiTenkenRireki td.dispmostenkenktnm_label {
  width: 20%;
}

table#moushiTenkenRireki td.dispmostenkencomment_label {
  width: 40%;
}

.firstCell {
  display: inline-block;
  width: 10%;
}
.syoubyouCell {
  display: inline-block;
  width: 18%;
}
table#sentakuJouhou tr {
  background-color: rgb(253,233,217);
}

#imuSatei{
  table-layout: fixed;
}