/* 代理店検索 -  bz_srch_dairiten.css */

table#searchResults td.dispdrtencd_label {
	width: 12%;
}

table#searchResults td.dispdrtennmkn_label {
	width: 44%;
}

table#searchResults td.dispdrtennmkj_label {
	width: 44%;
}

input#srchdrtennm {
	width: 430px;
}

#IBF1010 {
	padding-left: 5px
}

input#srchkanjidairitennm1 {
	width: 430px
}

input#srchkanjidairitennm2 {
	width: 430px
}