.subsystemNm_width_subari {
	width: 10% !important;
}
.subsystemNm_width_subnone {
	width: 0% !important;
}

.categoryNm_label {
	width: 15% !important;
}

.kinouNm_width_subari {
	width: 22% !important;
}
.kinouNm_width_subnone {
	width: 32% !important;
}

.batchKidouKbn_label {
	width: 4% !important;
}

.batchStartTime_label {
	width: 16% !important;
}

.batchEndTime_label {
	width: 16% !important;
}

.batchResultKbn_label {
	width: 4% !important;
}

.batchJyoutaiKbn_label {
	width: 5% !important;
}

.syousaiLink_label {
	width: 4% !important;
}

.tyouhyouSyuturyokuLink_label {
	width: 4% !important;
}

table#batchJobList td.batchKidouKbn_data {
	text-align: center;
}

table#batchJobList td.batchResultKbn_data {
	text-align: center;
}

table#batchJobList td.batchJyoutaiKbn_data {
	text-align: center;
}

table#batchJobList td.syousaiLink_data {
	text-align: center;
}

table#batchJobList td.tyouhyouSyuturyokuLink_data {
	text-align: center;
}

table.listItems tr td {
	word-wrap: break-word;
}

table.groupItems {
	table-layout: fixed;
}

table.groupItems tr td {
	word-wrap: break-word;
}
.logOutputTime_label {
	width: 16% !important;
}

.logLevelKbn_label {
	width: 5% !important;
}

.logNaiyou_label {
	width: 79px !important;
}

table#batchLogList td.logLevelKbn_data {
	text-align: center;
}

table#batchLogList td.logNaiyou_data {
	word-break: break-all;
}

table#batchLogList4Print td.logLevelKbn_data {
	text-align: center;
}

table#batchLogList4Print td.logNaiyou_data {
	word-break: break-all;
}