/* 保険金給付金不備登録 -  si_hubi_touroku.css */


table#selectDataList td.jimutetuzukinm_label {
  width: 42%;
}

table#selectDataList td.jimustartymd_label {
  width: 42%;
}

table#selectDataList td.nyuuryokuLink_label {
  width: 16%;
}


table#hasinzumihubiList td.trkymd_label {
  width: 7%;
}

table#hasinzumihubiList td.hubisyoruinm_label {
  width: 40%;
}

table#hasinzumihubiList td.genponhnkykumuchkbox_label {
  width: 3%;
}

table#hasinzumihubiList td.hasinymd_label {
  width: 7%;
}

table#hasinzumihubiList td.hassinsakikbn_label {
  width: 10%;
}

table#hasinzumihubiList td.nyuuryokutantounm_label {
  width: 10%;
}

table#hasinzumihubiList td.kaisyouymd_label {
  width: 7%;
}

table#hasinzumihubiList td.hubinaiyoumsg_label {
  width: 40%;
}

table#hasinzumihubiList td.syounintantounm_label {
  width: 18.5%;
}


table#mihasinhubiList td.disptrkymd_label {
  width: 7%;
}

table#mihasinhubiList td.dispsyoruicd_label {
  width: 40%;
}

table#mihasinhubiList td.dispgenponhnkykumuchkbox_label {
  width: 3%;
}

table#mihasinhubiList td.disphassinymd_label {
  width: 6%;
}

table#mihasinhubiList td.disphassinsakikbn_label {
  width: 10%;
}

table#mihasinhubiList td.dispnyuryokutantounm_label {
  width: 10%;
}

table#mihasinhubiList td.dispkaisyouymd_label {
  width: 7%;
}

table#mihasinhubiList td.sakujyoLink_label {
  width: 6%;
}

table#mihasinhubiList td.disphubinaiyoumsg_label {
  width: 40%;
}

table#mihasinhubiList td.dispsyounintantounm_label {
  width: 10%;
}

table#hasinzumihubiList tr {
   background-color: #ffffcc;
}

table#mihasinhubiList tr {
   background-color: #ffffcc;
}

.inputForm5{
  overflow-y: hidden;
}

div.listDiv {
  overflow-y: hidden;
}

.miniMarginViewSyoruiInfoItiran{
    margin-top:0;
}

.miniMargin{
    margin-top:6px;
}

.inputCovLabel {
  border-width: 0px;
  background-color: transparent !important;
  font-family:"メイリオ", Meiryo, sans-serif;
  font-size:9pt;
  width:90%;
}

.inputCovLabel1 {
  border-width: 0px;
  background-color: transparent !important;
  font-family:"メイリオ", Meiryo, sans-serif;
  font-size:9pt;
  width:90%;
  text-align: center;
}