/* 保険金額試算 -  si_hkkingaku_sisan.css */

.geninkbn_data #IJC1044{
    display:inline-block;
    margin-left: 125px;
}

#calckijyunymdSpan{
    display:inline-block;
    width:50%;
}

#knsnkijyunymdSpan{
    display:inline-block;
    width:50%;
}

.kawaserate_data #IJC1027{
    display:inline-block;
    margin-left: 59px;
}

.ViewYenkansannyknkingkFirstCell{
    display:inline-block;
    width: 41.5%;
    vertical-align: middle;
    text-align:right;
}

.ViewItijibrpFirstCell{
    display:inline-block;
    width: 41.5%;
    vertical-align: middle;
    text-align:right;
}

.ViewHrkpFirstCell{
    display:inline-block;
    width: 41.5%;
    vertical-align: middle;
    text-align:right;
}

.vhrkiyentkykwsratetuukasyu_data #IJC1049{
    display:inline-block;
    width:83%;
    text-align:right;
}

.viewFirstCell{
    float: left;
}

.ViewkngkFirstCell{
    display:inline-block;
    width: 41.5%;
    vertical-align: middle;
    text-align:right;
}
