/* œi’»—š—ğî•ñ (progresshistoryinfo) */

table#progresshistoryinfo td.vprghsdispsyoriymd_label {
  width: 8%;
}

table#progresshistoryinfo td.vprghsdisptasknm_label {
  width: 14%;
}

table#progresshistoryinfo td.vprghsdispsyorikekkakbn_label {
  width: 11%;
}

table#progresshistoryinfo td.vprghsdispsousasyanm_label {
  width: 12%;
}

table#progresshistoryinfo td.vprghsdispcomment_label {
  width: 55%;
}
