/* 別口チェック項目（死亡） -  view_betukuti_check_sibou.css */

#betusibouumukbnSpan{
    display:inline-block;
    width:24%;
}
.betusibouumukbnFirstCell{
    display:inline-block;
    width:36%;
}
#betusoukiumukbnSpan{
    display:inline-block;
    width:24%;
}
.betusoukiumukbnFirstCell{
    display:inline-block;
    width:36%;
}

#betusiboucomment{
  max-width :560px;
}
.betusiboucomment_text12{
  width :560px;
}

#betusoukicomment{
  max-width :560px;
}
.betusoukicomment_text12{
  width :560px;
}