/* 家族登録／契約者代理特約変更 -  kh_kzktrk_kykdr_hnk.css */

.c1_KzktrkKykDrHnk{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 14px;
  background-color: #c6e6b3;
  width: 320px;
}

.center_KzktrkKykDrHnk {
  display:inline-block;
  text-align: center;
  width: 100%;
}

.cell1 {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width:43%;
}

.cell2 {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
}

.trkkzktdkFirstCell {
  display: inline-block;
  width: 31%;
}

#newtrkkzktdk1Span {
  display: inline-block;
  width: 31%;
}

#newtrkkzktdk2Span {
  display: inline-block;
  width: 31%;
}

.returnBlock1Trkkzkadr1{
  display: block;
}
.returnBlockTrkkzkadr2{
  display: block;
}
.returnBlockKykdradr {
  display: block;
}
.returnBlock2Newtrkkzkadr1{
  display: block;
}
.returnBlock2NewTrkkzkadr2 {
  display: block;
}
.returnBlockNewKykdradr{
  display: block;
}

#tyhysakuseiyhkbnSpan {
  display: inline-block;
  width: 8%;
}

table#trkkzkInfo1 span#trkkzknmkjkhukakbn1 {
  float: right;
}
table#trkkzkInfo1 span#newtrkkzknmkjkhuka1Span {
  float: right;
}
table#trkkzkInfo1 span#newtrkkzknmkjkhukakbn1 {
  float: right;
}

table#trkkzkInfo2 span#trkkzknmkjkhukakbn2 {
  float: right;
}
table#trkkzkInfo2 span#newtrkkzknmkjkhuka2Span {
  float: right;
}
table#trkkzkInfo2 span#newtrkkzknmkjkhukakbn2 {
  float: right;
}

table#kyksyadairitkInfo span#kykdrnmkjkhukakbn {
  float: right;
}
table#kyksyadairitkInfo span#newkykdrnmkjkhukaSpan {
  float: right;
}
table#kyksyadairitkInfo span#newkykdrnmkjkhukakbn {
  float: right;
}

table#trkkzkInfo1 input.text {
  width: 350px;
}
table#trkkzkInfo2 input.text {
  width: 350px;
}
table#kyksyadairitkInfo input.text {
  width: 350px;
}

#newtrkkzktelno1 {
  width: 166px !important;
}

#newtrkkzktelno2 {
  width: 166px !important;
}


.outputSpan{
  width: 320px;
}

.newText11 {
 width: 420px !important;
}
