/* 配当金支払 -  kh_d_shr.css */
.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}
.alignMessageCell5{
  float:right;
  width: 75%;
  line-height:24px;
}

.alignBankNm {
  padding-left:100px;
}

.alignSitenNm {
  padding-left:106px;
}