/* 締切日検索 -  bz_srch_simekiribi.css */

table#searchResults td.dispbosyuuym_label {
	width: 16%;
}

table#searchResults td.dispmossimefromymd_label {
	width: 21%;
}

table#searchResults td.dispmosnrksimefromymd_label {
	width: 21%;
}

table#searchResults td.dispnrksimefromymd_label {
	width: 21%;
}

table#searchResults td.dispsyrisimefromymd_label {
	width: 21%;
}