/* 契約取消 -  kh_keiyaku_torikesi.css */

#hubikanryouymdSpan{
  display: inline-block;
  width:20%;
}

.inputSpan{
  display: inline-block;
  width:20%;
}

.siharaiNaiyouInfoLeftCell{
  float: left;
}

.siharaiInfoFirstCell{
    display: inline-block;
    width: 36%;
}

.innerLeftZeimuInfo {
  float: left;
}
.innerZeimukwsratekjnymdPrefix {
  display: inline-block;
  width: 10%;
}

.zeimuInfoLeftCell{
  display: inline-block;
  width: 41.5%;
}

.keiyakuTorikesiFirstCell{
  display: inline-block;
  width:8%;
}

.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}

.leftViewCell {
  float: left;
  text-align: right;
  display: inline-block;
  width: 41.4%;
}

.rateAlignRight {
    text-align:right;
}

 .innerLeftShrkwsratee {
  display: inline-block;
}

.innerCenterYenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

.innerCenterShrkyktuukasyu {
  display:inline-block;
  margin-right:58.5%;
}
