/* ユーザーグループ登録 -  user_group_touroku.css */
table#userGroupInfo td.userGroupCd_label {
	width: 18%;
}

table#userGroupInfo td.userGroupNm_label {
	width: 18%;
}

table#userGroupInfo td.userGroupSetumei_label {
	width: 18%;
}

td.c1 span textarea {
	max-width: 690px;
}

table.groupItems {
	table-layout: fixed;
}

table.groupItems tr td {
	word-wrap: break-word;
}