#loginBtn, #kakuteiBtn {
	height: 26px;
	width: 200px;
	font-weight: bold;
	font-size: larger;
	margin-left: 120px;
	font-family: '���C���I', Meiryo, sans-serif;
}

#buttonLoginDiv {
	margin-left: 20px;
	margin-top: 10px;
}

#loginInputDiv {
	margin-left: 20px;
	margin-top: 0px;
}

#pic {
	margin-left: 30%;
	margin-top: 80px;
}

#loginInput {
	margin-left: 350px;
	width: 400px;
}

#tanmatusettisosikicd {
	width: 150px;
}

td.label {
	text-align: right;
	width: 30%;
	color: #323232;
}

td.messagesIcon {
	display: none;
}

td.messagesItem {
	text-align: center;
}

div.messagesDiv {
	margin-left: 80px;
	width: 100%;
}