/* 契約保全不備内容検索 -  kh_hubi_naiyou_kensaku.css */


table#fubinaiyouList td.dispkhhubinaiyou_label {
  width: 30%;
}

table#fubinaiyouList td.disphassinsakikbn_label {
  width: 10%;
}

table#fubinaiyouList td.dispgenponhnkykumu_label {
  width: 10%;
}

table#fubinaiyouList td.disphubinaiyoumsg_label {
  width: 40%;
}

table#fubinaiyouList td.sentakulink_label {
  width: 10%;
}

span#IBA1007 {
  margin-left:100px;
}