/* ユーザー登録 -  user_touroku.css */

table#roleInfo td.commonCheckBox_label {
	width: 7%;
}

table#roleInfo td.roleCd_label {
	width: 20%;
}

table#roleInfo td.roleNm_label {
	width: 20%;
}

table#roleInfo td.roleSetumei_label {
	width: 53%;
}

.leftsButtons {
	text-align: left;
	vertical-align: top;
	margin-left: 4.5%;
}