/* 繧｢繧ｯ繧ｻ繧ｹ繝ｭ繧ｰ辣ｧ莨� -  access_log_syoukai.css */

#sessionId {
  width: 95% !important;
}

div.listDiv {
/*
  margin-left:  8px;
  margin-right: 8px;
  width:        98%;
*/
}

#aT_AccessLog\.syoriUserId {
    margin-right: 5px;
}

div#searchConditionsDiv #userId{
    width: 270px;
}

div#searchConditionsDiv table.groupTitle.active {
  background-color: mistyrose;
}

div#searchConditionsDiv table.groupTitle.searchConditionsMinimizable {
  cursor: pointer;
}

div#searchConditionsDiv table.groupTitle.searchConditionsMinimized {
  color: blue;
  text-decoration: underline;
}

table#accessLogInfoList td.sessionId_data {
  font-size: smaller;
}

table#accessLogInfoList td.syoriTime_data {
  font-size: smaller;
}

table#accessLogInfoList td.logData_data {
  font-size: smaller;
}

table#accessLogInfoList tr.active {
  background-color: mistyrose;
}

table#accessLogInfoList tr.hidden {
  display: none;
}

table#accessLogInfoList td.syoriTime_label {
  width:  9%;
}

table#accessLogInfoList td.syoriUserId_label {
  width: 12%;
}

table#accessLogInfoList td.logKindCd_label {
  width: 10%;
}

table#accessLogInfoList td.ipAddress_label {
  width: 12%;
}

table#accessLogInfoList td.sessionId_label {
  width: 12%;
}

table#accessLogInfoList td.transactionId_label {
  width: 17%;
}

table#accessLogInfoList td.subSystemNm_label {
  width: 12%;
}

table#accessLogInfoList td.kinouNm_label {
  width: 12%;
}

table#accessLogInfoList td.syousaiLink_label {
  width:  4%;
}

table#accessLogInfoList td.syousaiLink_data {
  text-align: center;
}

table#accessLogInfoList td.logData_data {
  height: 12px;
  border-style: solid;
}

table#accessLogInfoList tr td div {
  margin:  0px;
  padding: 0px;
}

table#accessLogInfoList tr td div.minimized {
  height: 14px;
  overflow-y: auto;
}

table#accessDetailLogInfo td.logSyousaiData_data {
  font-size: smaller;
}

table#accessDetailLogInfo td.syousaiEdaNo_label {
  width: 5%;
}

table#accessDetailLogInfo td.logSyousaiData_label {
  width: 95%;
}

table#accessDetailLogInfo td.syousaiEdaNo_data {
  text-align: right;
}
table.listItems tr td {
  word-wrap: break-word;
}

div.listDiv {
  overflow: visible;
}

td.syoriTime_data {
  word-break: keep-all;
}
