/* 当日入金取消 -  sk_toujitu_nyuukin_torikesi.css */

table#nyuukinJyouhouList td.dummykmk_label {
  width: 5%;
}

table#nyuukinJyouhouList td.rsgaku_label {
  width: 50%;
}

table#nyuukinJyouhouList td.tyakkinymd_label {
  width: 20%;
}

table#nyuukinJyouhouList td.nyknsyubetu_label {
  width: 25%;
}

table#nyuukinJyouhouList td.sentakulink_label {
  width: 5%;
}
