/* 特定関係法人照会 -  sk_tokutei_kankei_houjin.css */


table#searchResults td.disptkhjnkinyuucd_label {
  width: 14%;
}

table#searchResults td.disptkhjnkjdrtennm_label {
  width: 43%;
}

table#searchResults td.disptkhjnnmkj_label {
  width: 43%;
}
