/* 工程開始登録 -  koutei_kaisi_touroku.css */


table#torokuInfo1 td.dispno_label {
  width: 5%;
}

table#torokuInfo1 td.workflowDocumentId_label {
  width: 95%;
}


table#torokuInfo2 td.dispno_label {
  width: 5%;
}

table#torokuInfo2 td.workflowDispDocumentId_label {
  width: 20%;
}

table#torokuInfo2 td.dispsyoruinmryaku_label {
  width: 75%;
}