/* 契約変更 -  kh_keiyaku_henkou.css */


table#betukeiyakuList td.dispsetkykkbn_label {
  width: 13%;
}

table#betukeiyakuList td.dispbtkyksyono_label {
  width: 13%;
}

table#betukeiyakuList td.dispbtkykyuukousyoumetukbn_label {
  width: 13%;
}

table#betukeiyakuList td.dispbtkykkykjyoutai_label {
  width: 13%;
}

table#betukeiyakuList td.dispbtkykkykymd_label {
  width: 12%;
}

table#betukeiyakuList td.dispbtkyksyoumetujiyuu_label {
  width: 12%;
}

table#betukeiyakuList td.dispbtkyksyoumetuymd_label {
  width: 12%;
}

table#betukeiyakuList td.dispbtkyksyouhnnm_label {
  width: 12%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#ttdktyuuikbnInfo td.ttdktyuuikbn_label {
  width: 34%;
}

table#ttdktyuuikbnInfo td.ttdktyuuikbnhsknaiyou_label {
  width: 33%;
}

table#ttdktyuuikbnInfo td.ttdktyuuikbnsetymd_label {
  width: 33%;
}


table#kakuninKekkaInfo td.dispnaiyoukakymd_label {
  width: 25%;
}

table#kakuninKekkaInfo td.dispsousasyanm_label {
  width: 25%;
}

table#kakuninKekkaInfo td.disptasknm_label {
  width: 25%;
}

table#kakuninKekkaInfo td.dispcomment_label {
  width: 25%;
}
