/* 書類権限登録 -  syorui_kengen_touroku.css */


table#syoruiInfo td.dispsubsystemnm_label {
  width: 25%;
}

table#syoruiInfo td.dispjimutetuzukinm_label {
  width: 25%;
}

table#syoruiInfo td.dispsyoruinm_label {
  width: 25%;
}

table#syoruiInfo td.commonCheckBox_label {
  width: 25%;
}
