.div2InlineBlockViewHaraikomiInfo {
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 56%;
}

.div2InlineViewHaraikomiInfo{
    display: inline-block;
    width: 41.5%;
    vertical-align: middle;
    padding-top:8px;
    text-align:right;
}

.div2InlineViewHaraikomiInfo2{
    display: inline-block;
    width: 41.5%;
    vertical-align: middle;
    text-align:right;
}

.viewHaraikomiInfoFirstCell{
    display: inline-block;
    width:8%;
}

.thirdCell{
    display: inline-block;
    margin-right:58.5%;
}

.rightCell{
    display: inline-block;
    text-align:right;
}

table#haraikomiInfo span#vhrkiyentkykwsrateymdSuffix {
    display: inline-block;
    width: 8.65%;
    text-align:left;
}