/* 円建変更時返戻金支払 -  kh_yendt_hnk_hr_shr.css */

.siharaiLeftCell {
  display:inline-block;
  text-align:right;
}

.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}

.yokinkbnCell {
  width: 7%;
  text-align:left;
}

.alignBankNm {
  padding-left:100px;
}

.alignSitenNm {
  padding-left:106px;
}
