table.groupItems tr td.kadouTimeGroupCd_label {
	width: 18% !important;
}

table.groupItems tr td.kadouTimeGroupNm_label {
	width: 18% !important;
}

table.listItems tr td.kadouTimeGroupCd_label {
	width: 18% !important;
}

table.listItems tr td.kadouTimeGroupNm_label {
	width: 20% !important;
}

table.listItems tr td.kadouTimeGroupDescription_label {
	width: 52% !important;
}

table.listItems tr td.henkouLink_label {
	width: 5% !important;
}

table.listItems tr td.sakujyoLink_label {
	width: 5% !important;
}

table.listItems tr td.sakujyoLink_data {
	text-align: center !important;
}

table.listItems tr td.henkouLink_data {
	text-align: center !important;
}

table.listItems tr td {
	word-wrap: break-word;
}