/* QRシール用紙作成 -  q_r_seal_sakusei.css */


table#inputContentsInfo2 td.mosno1_label {
  width: 100%;
}

table#inputContentsInfo2 tr td span.textItem {
  margin-right: 71px;
}

table#inputContentsInfo2 tr td span.mosno1 {
  display: inline-block;
    width: 33%;

}

table#inputContentsInfo2 tr td span.mosno2 {
  display: inline-block;
    width: 33%;
}

table#inputContentsInfo2 tr td span.mosno3 {
  display: inline-block;
    width: 33%;
}


table#inputContentsInfo3 td.mosno_label {
  width: 37%;
}

table#inputContentsInfo3 td.mosno_data {
  text-align: left;
}

table#inputContentsInfo3 td.torikomiSyoruiCd_label {
  width: 55%;
}

table#inputContentsInfo3 td.sakujyoLink_label {
  width: 8%;
}


table#inputContentsInfo4 td.mosno_label {
  width: 37%;
}

table#inputContentsInfo3 td.mosno_data {
  text-align: left;
}

table#inputContentsInfo4 td.torikomiSyoruiCd_label {
  width: 55%;
}

table#inputContentsInfo4 td.sakujyoLink_label {
  width: 8%;
}


td.mosno1 {
  text-align: left;
}

td.mosno2 {
  text-align: center;
}

td.mosno3 {
  text-align: right;
}

div.listDiv {
  overflow: visible;
}