/* ユーザーグループ検索 -  user_group_kensaku.css */

table#searchInfo td.userGroupCd_label {
	width: 18% !important;
}

table#searchInfo td.userGroupNm_label {
	width: 18% !important;
}

table#userGroupInfo td.userGroupCd_label {
	width: 35% !important;
}

table#userGroupInfo td.userGroupNm_label {
	width: 65% !important;
}

body {
	width: 920px !important;
}

form {
	min-height: 250px !important;
}