/* 被保険者生年月日・性訂正 -  kh_seinengappi_sei_teisei.css */


table#kikeiyakuInfo td.vbtkkdispbtkyksyono_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykyuuksumtkbn_label {
  width: 15%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykjyoutai_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkykkykymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksumetujiyuu_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyoumetuymd_label {
  width: 14%;
}

table#kikeiyakuInfo td.vbtkkdispbtkyksyouhnnm_label {
  width: 14%;
}


table#nenkinsiharaiInfo td.vbtkkdispbtkyknksysyno_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknkshrsymd_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtjiyuu_label {
  width: 25%;
}

table#nenkinsiharaiInfo td.vbtkkdispbtkyknksymtymd_label {
  width: 25%;
}


table#palkikeiyakuInfo td.vbtkkdisppalbtkyksyono_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkykkykymd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtcd_label {
  width: 25%;
}

table#palkikeiyakuInfo td.vbtkkdisppalbtkyksymtymd_label {
  width: 25%;
}


table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksysyno_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknkshrymd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtcd_label {
  width: 25%;
}

table#palnenkinsiharaiInfo td.vbtkkdisppalbtkyknksymtymd_label {
  width: 25%;
}


table#palsueokiInfo td.vbtkkdisppalbtkyksosysyno_label {
  width: 50%;
}

table#palsueokiInfo td.vbtkkdisppalbtkyksosymd_label {
  width: 50%;
}


table#syoruiInfoList td.syoruittykymdtime_label {
  width: 25%;
}

table#syoruiInfoList td.syoruinm_label {
  width: 25%;
}

table#syoruiInfoList td.htysyoruiumukbn_label {
  width: 25%;
}

table#syoruiInfoList td.hyoujilink_label {
  width: 25%;
}


table#tbktInfo td.vhsyudispfundunitkbnval_label {
  width: 17%;
}

table#tbktInfo td.vhsyudispfundunitkbn_label {
  width: 17%;
}

table#tbktInfo td.vhsyudispunitsuu_label {
  width: 17%;
}

table#tbktInfo td.vhsyudispfundindex_label {
  width: 17%;
}

table#tbktInfo td.vhsyudisptutakngk_label {
  width: 16%;
}

table#tbktInfo td.vhsyudispwariai_label {
  width: 16%;
}


table#kariukekinInfo td.vkukkrkno_label {
  width: 10%;
}

table#kariukekinInfo td.vkukkrkkeijyoymd_label {
  width: 10%;
}

table#kariukekinInfo td.vkukkrkriyuukbn_label {
  width: 10%;
}

table#kariukekinInfo td.vkukhrkkaisuu_label {
  width: 10%;
}

table#kariukekinInfo td.vkuknykkeiro_label {
  width: 10%;
}

table#kariukekinInfo td.vkuknyknaiyoukbn_label {
  width: 10%;
}

table#kariukekinInfo td.vkukjyuutouym_label {
  width: 10%;
}

table#kariukekinInfo td.vkukjyutoukaisuu_label {
  width: 10%;
}

table#kariukekinInfo td.vkukryosyuymd_label {
  width: 10%;
}

table#kariukekinInfo td.vkukkrkgk_label {
  width: 10%;
}

table#progresshistoryInfo td.vprghsdispsyoriymd_label {
  width: 20%;
}

table#progresshistoryInfo td.vprghsdisptasknm_label {
  width: 20%;
}

table#progresshistoryInfo td.vprghsdispsyorikekkakbn_label {
  width: 20%;
}

table#progresshistoryInfo td.vprghsdispsousasyanm_label {
  width: 20%;
}

table#progresshistoryInfo td.vprghsdispcomment_label {
  width: 20%;
}

.rateAlignRight {
  text-align:right;
}

.tuikahrkkinAlignRight{
  display:inline-block;
  text-align:right;
  width:41.4%;
}

.henkankkyktuukaAlignRight{
  display:inline-block;
  text-align:right;
  width:41.4%;
}

.newhhknnmkjCell {
  display: inline-block;
  width: 50%;
}

td.khSeinengappiSeiTeiseiPaddingRightCell1{
  text-align: right;
  padding-right: 450px;
}

table#kykHenkouNaiyouInfo span#newsyup {
  display: inline-block;
  margin-right:58.5%;
}

table#kykHenkouNaiyouInfo span#newsyukjnkngk {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo1 span#dispnewtknextkosgop1 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo2 span#dispnewtknextkosgop2 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo3 span#dispnewtknextkosgop3 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo4 span#dispnewtknextkosgop4 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo5 span#dispnewtknextkosgop5 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo6 span#dispnewtknextkosgop6 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo7 span#dispnewtknextkosgop7 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo8 span#dispnewtknextkosgop8 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo9 span#dispnewtknextkosgop9 {
  display: inline-block;
  margin-right:58.5%;
}

table#tokuyakuInfo10 span#dispnewtknextkosgop10 {
  display: inline-block;
  margin-right:58.5%;
}

table#tuityoukInfo span#tuityouk {
  display: inline-block;
  margin-right:58.5%;
}

.alignMessageCell1 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell2 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell3 {
  float:right;
  width: 75%;
  line-height:24px;
}

.alignMessageCell4 {
  float:right;
  width: 75%;
  line-height:24px;
}

.innerLeftShrkwsratee {
  display: inline-block;
}

.innerCenterYenshrrate {
  display: inline-block;
  width: 15%;
  text-align:right;
}

.innerCenterShrkyktuukasyu {
  display:inline-block;
  margin-right:58.5%;
}

.yokinkbnCell {
  width: 8%;
  text-align:left;
}

.alignBankNm {
  padding-left:100px;
}

.alignSitenNm {
  padding-left:106px;
}