/* 告反チェック -  view_kokuhan_check.css */
.c1_mh {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 14px;
  background-color: #c6e6b3;
  width: 3%;
  max-width: 750px;
  text-align: center;
}
.firstCell{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 14px;
  width: 68%;
  background-color: #c6e6b3;
  text-align: center;
}

.secondCell {
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 14px;
  width: 4%;
  background-color: #c6e6b3;
  text-align: center;
}
.secondCell1{
  padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  height: 14px;
  background-color: #c6e6b3;
  text-align: center;
}

.firstCell1{
    padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffcc;
  width: 3%;
  max-width: 750px;
}
.firstCell2{
    padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width: 68%;
  max-width: 750px;
}
.firstCell3{
    padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  width: 4%;
  max-width: 750px;
}
.firstCell4{
    padding: 2px 2px 2px 2px;
  border-color: #C5BAA2;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  background-color: #ffffcc;
  max-width: 750px;
}

.center_mh1 {
    text-align: center;
}

#kokuhanchecomment1{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment2{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment3{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment4{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment5{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment6{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment7{
    width: 97%;
    overflow-y:hidden;
}
#kokuhanchecomment8{
    width: 97%;
    overflow-y:hidden;
}

.dispviewfirstCell{
       height: 38px;
}