/* 手続履歴照会 -  si_ttzk_rireki_syoukai.css */


table#searchResults td.dispsyono_label {
  width: 15%;
}

table#searchResults td.disphhknnmkn_label {
  width: 28%;
}

table#searchResults td.disphhknnmkj_label {
  width: 28%;
}

table#searchResults td.dispsksyubetu_label {
  width: 14%;
}

table#searchResults td.dispsyoruiukeymd_label {
  width: 15%;
}


table#ttzkRrkList td.dispsyoriymd_label {
  width: 10%;
}

table#ttzkRrkList td.dispsyorinm_label {
  width: 15%;
}

table#ttzkRrkList td.syorikekka_label {
  width: 10%;
}

table#ttzkRrkList td.disptantounm_label {
  width: 22%;
}

table#ttzkRrkList td.dispcomment_label {
  width: 35%;
}

table#ttzkRrkList td.syousaiLink_label {
  width: 8%;
}
