/** �x���O���[�v���ꗗ */
table.listItems tr td.holidayGroupCd_label {
	width: 15% !important;
}

table.listItems tr td.holidayGroupNm_label {
	width: 25% !important;
}

table.listItems tr td.holidayGroupDescription_label {
	width: 60% !important;
}

table.listItems tr td.holidayPatternNm_label {
	width: 20% !important;
}

table.listItems tr td.holidayPattern_label {
	width: 20% !important;
}

table.listItems tr td.tekiyouYmdFrom_label {
	width: 12% !important;
}

table.listItems tr td.tekiyouYmdTo_label {
	width: 12% !important;
}

table.listItems tr td.legalHolidayKbn_label {
	width: 13% !important;
}

table.listItems tr td.yoyakuKbn_label {
	width: 9% !important;
}

table.listItems tr td.henkouLink_label {
	width: 7% !important;
}

table.listItems tr td.sakujyoLink_label {
	width: 7% !important;
}

table.listItems tr td.henkouLink_data {
	text-align: center;
}

table.listItems tr td.sakujyoLink_data {
	text-align: center;
}

table.listItems tr td {
	word-wrap: break-word;
}