/* 補助簿累計額入力 -  bz_hojyobo_ruikeigaku_nyuuryoku.css */

table#hojyoboRuikeigakuInfoList td.syukanjokamokucd_label {
	width: 10%;
}

table#hojyoboRuikeigakuInfoList td.kanjyoukmknm_label {
	width: 28%;
}

table#hojyoboRuikeigakuInfoList td.karikataruigk_label {
	width: 14%;
}

table#hojyoboRuikeigakuInfoList td.kasikataruigk_label {
	width: 14%;
}

table#hojyoboRuikeigakuInfoList td.karikatateiseigk_label {
	width: 14%;
}

table#hojyoboRuikeigakuInfoList td.kasikatateiseigk_label {
	width: 14%;
}

table#hojyoboRuikeigakuInfoList td.teiseilink_label {
	width: 6%;
}