/** �ғ����ԃO���[�v�ꗗ */
table.listItems tr td.kadouTimeGroupCd_label {
	width: 23% !important;
}

table.listItems tr td.kadouTimeGroupNm_label {
	width: 30% !important;
}

table.listItems tr td.kadouTimeGroupDescription_label {
	width: 47% !important;
}

table.listItems tr td.eigyouKadouTimeYoubiKbn_label {
	width: 10% !important;
}

table.listItems tr td.kadouTimeSiteiKbn_label {
	width: 20% !important;
}

table.listItems tr td.eigyouKadouTime_label {
	width: 60% !important;
}

table.listItems tr td.henkouEigyoubiLink_label {
	width: 10% !important;
}

table.listItems tr td.eigyouKadouTimeYoubiKbn_data {
	text-align: center
}

table.listItems tr td.henkouEigyoubiLink_data {
	text-align: center
}

table.listItems tr td.hiEigyouKadouTimeYoubiKbn_label {
	width: 10% !important;
}

table.listItems tr td.kadouTimeSiteiKbn_label {
	width: 20% !important;
}

table.listItems tr td.hiEigyouKadouTime_label {
	width: 60% !important;
}

table.listItems tr td.henkouHieigyoubiLink_label {
	width: 10% !important;
}

table.listItems tr td.hiEigyouKadouTimeYoubiKbn_data {
	text-align: center
}

table.listItems tr td.henkouHieigyoubiLink_data {
	text-align: center
}

table.listItems tr td {
	word-wrap: break-word;
}

table.groupItems tr td.kadouTimeGroupCd_label {
	width: 18% !important;
}

table.groupItems tr td.kadouTimeYoubiKbn_label {
	width: 18% !important;
}

table.groupItems tr td.kadouTimeSiteiKbn_label {
	width: 18% !important;
}

td span.itemSuffix {
	margin-right: 0px;
}