/* è‘±’ˆÓ‹æ•ª“à—e(ttdktyuuikbnInfo) */

table#ttdktyuuikbnInfo td.vtdktttdktyuuikbn_label {
  width: 11%;
}

table#ttdktyuuikbnInfo td.vtdktttdktyikbnhsknaiyou_label {
  width: 57%;
}

table#ttdktyuuikbnInfo td.vtdktttdktyuuikbnsetymd_label {
  width: 17%;
}
