/* 申込書類用QR作成予約 -  sk_mos_q_r_sks_yoyaku.css */


table#yoyakuInfoList td.disptrkymd_label {
  width: 13%;
}

table#yoyakuInfoList td.dispqryoyakutime_label {
  width: 8%
}

table#yoyakuInfoList td.dispskeijimukbn_label {
  width: 18%;
}

table#yoyakuInfoList td.disphknsyuruino_label {
  width: 30%;
}

table#yoyakuInfoList td.dispmosnosaibankbn_label {
  width: 15%;
}

table#yoyakuInfoList td.dispsakuseikensuu_label {
  width: 8%;
}

table#yoyakuInfoList td.sakujyoLink_label {
  width: 8%;
}
